[2017-01-13 20:22] chrisgorgo opened #7 "Improve segmentation in cases of low tissue contrast"
T1w scans of babies tend to have low tissue contrast causing poor segmentation. From a conversation with Cat C. I learned that SPM tends to perform slightly better than FSL, but [iBEAT](https://www.med.unc.edu/bric/ideagroup/free-softwares/libra-longitudinal-infant-brain-processing-package) works even better.

[2017-01-13 20:26] chrisgorgo opened #8 "Custom (study specific) templates"
Custom (volume and surface) templates derived from a particular dataset have been shown to improve overlap between participants. It is also the recommended way to deal with smaller head sizes in developmental populations. Both ANTs and FreeSurfer support building such templates.

[2017-04-26 17:34] feilong opened #11 "Add option to alternative MNI templates for output spaces"
From discussions of another issue (https://github.com/poldracklab/fmriprep/issues/337#issuecomment-297139529), it would be nice to have alternatives to `MNI152NLin2009cAsym` as output spaces to increase backward compatibility with other softwares, datasets, and atlases.  For example, currently widely used `MNI152NLin6Asym`.

I'll try to modify `fmriprep/workflows/anatomical.py` and add `output_spa

[2017-04-27 12:57] effigies opened #41 "Handle IsRunning files in recon-all"
recon-all creates `IsRunning` files to indicate that it is currently running, and blocks other instances of recon-all from running. Some crashes aren't recovered from gracefully enough for recon-all to remove the file, resulting in a need to manually remove the file.

We have a few options:

1) Leave it to the user to remove; `recon-all` gives a reasonably thorough error message
2) Always remove;

[2017-09-18 15:32] effigies opened #12 "Gracefully handle pre-skull-stripped T1w images"
A number of subjects in ds000223 (e.g. [sub-07](https://s3.amazonaws.com/openneuro/ds000223/ds000223_R1.0.0/uncompressed/derivatives/mriqc/sub-07_T1w.html)) have pre-skull-stripped T1w images. ANTs skull-stripping on these datasets clips most superficial cortex, resulting in very poor preprocessing.

I propose adding a `--pre-skull-stripped` flag (or similar) to indicate that the anatomical workfl

[2017-12-06 17:24] oesteban opened #17 "Compression of reports in resampling workflows & T1w derivatives."
From https://github.com/poldracklab/fmriprep/pull/876#discussion_r155250612:

@effigies said:

[2018-02-15 04:12] chrisgorgo opened #43 "Create a FreeSurfer-license canary that can be run by fMRIPrep"
https://openneuro.org/datasets/ds001230/versions/00001?app=FMRIPREP&version=51&job=5a847e689259cd00018b9810

Possible introduced in 1.0.7

`--n_cpus 4 --participant_label 3129 --use-aroma --fs-license-file /input/data/b39610adfe02fdce2ad9d30797c567b3/LICENSE --output-space template T1w fsaverage`

[code]

[2018-03-03 00:02] chrisgorgo opened #23 "T1w brain mask too liberal"
![image](https://user-images.githubusercontent.com/238759/36927506-d923da2a-1e32-11e8-895d-759d1ddf681e.png)
ds000051/reportlets/fmriprep/sub-02/anat/sub-02_T1w_seg_brainmask.svg

Seems that in this case the refinement heuristic makes the mask worse. Below is the surface reconstruction plot
![image](https://user-images.githubusercontent.com/238759/36927484-bfa7ebc2-1e32-11e8-94fa-cc8dc0699de7.png)

[2018-03-03 05:34] chrisgorgo opened #35 "Wrong T1w mask used for EPI-T1 registration?"
The T1w mask on bbr coregisration plot looks bad
![image](https://user-images.githubusercontent.com/238759/36930951-27169df2-1e61-11e8-8b00-45827dc6349b.png)
ds000221/reportlets/fmriprep/sub-010251/ses-01/func/sub-010251_ses-01_task-rest_acq-AP_run-01_bold_bbr.svg

Even though it's good on the T1w mask plot
![image](https://user-images.githubusercontent.com/238759/36930956-4b182b94-1e61-11e8-85cc-

[2018-04-30 17:53] oesteban opened #24 "Pediatric template"
From https://github.com/poldracklab/fmriprep/issues/817#issuecomment-379432403.

It would be handy having a pediatric template as proposed in that comment (https://www.med.unc.edu/bric/ideagroup/free-softwares/unc-infant-0-1-2-atlases). This would probably deprecate (partially) #330.

@taehol, would you be interested in trying to implement this one (and becoming one of FMRIPREP's contributors)? We

[2018-05-15 17:10] anthonycrane opened #25 "Support for rhesus macaque preprocessing?"
Hello, I am hoping to use fmriprep for preprocessing data from rhesus monkeys, but I'm not sure if the pipeline is set up for this quite yet. If not, I'd love to contribute to the project! Is there anything on the horizon for supporting preprocessing imaging data from different species?

[2018-07-02 21:04] chrisgorgo opened #27 "Make reusing freesurfer outputs more explicit"
Reusing precomputed freesurfer outputs is currently supported, but requires a very specific approach that is often confusing for users. To make things more transparent I propose adding `--reuse-freesurfer-dir` flag pointing to a SUBJECTS_DIR which will be reused. When that flag is set recon-all should not be attempted.

[2018-07-20 23:06] araikes opened #4 "Using pre-run Freesurfer"
I recognize that this concept has been addressed in poldracklab/fmriprep#1182 and I have read that thread prior to posting here. I have previously posted here on this topic but I'll refresh it for the current error. I have the most current version of fmriprep (updated today).

I have run Freesurfer (BIDS/Freesurfer v 6.0) using a longitudinal pipeline for 29 participants. The output from that is c

[2018-07-23 16:47] chrisgorgo opened #5 "ERROR: talairach_afd: Talairach Transform: transforms/talairach.xfm ***FAILED*** (p=0.0455, pval=0.0034 < threshold=0.0050)"
[A user reported issues with talairach transform in recon-all](https://neurostars.org/t/fmriprep-1-1-1-anat-only-troubleshooting-talairach-afd-error/2134/). The issue was resolved by performing rough coregistration of the input images before feeding them to freesurfer:

[code]

I wonder if we should build this into FMRIPREP - ideally the coregistration would be only saved in the headers so no addi

[2018-07-27 18:11] chrisfilo opened #29 "ERROR! FOV=289.000 > 256 Include the flag -cw256 with recon-all!"
Originally reported at https://neurostars.org/t/freesurfer-error-fov-256

For files with unusually large FOV freesurfer needs to perform cropping. Example image
![image](https://user-images.githubusercontent.com/238759/43339235-a5f36c14-918d-11e8-8e9c-b310dcae13c8.png)

Suggested solution: detect if FOV is larger than 256 in any direction and add `-cw256` flag to recon-all. Add a red warning to th

[2018-09-12 16:11] chrisgorgo opened #38 "Change N4 parameters"
I learned that using 5 instead of 4 iteration gives more homogenous white matter

`N4BiasFieldCorrection -d 3 -i $input.nii -o $output.nii -c \[50x50x50x50x50,1e-06\]`

This is based on comparison by Philip Kohn reported by Yunxia Tong.

[2018-10-03 16:22] effigies opened #6 "Rename anatomical outputs to conform to BIDS Derivatives RC1"
This is my interpretation of RC1. If it's incorrect, we may want to clarify the text.

@oesteban @satra @edickie Can you verify the transforms (bottom) and `space-` usage?
@ahoopes @edickie Can you verify the probseg/dseg/surfaces?

### Filenames

Using examples from ds114/sub-07/anat:

| Old | New |
|---|---|
| `sub-07_T1w_preproc.nii.gz` | <ul><li>[x] `sub-07_desc-preproc_T1w.nii.gz`</li></ul> |

[2019-01-08 07:39] oesteban opened #1 "Create a spatial normalization workflow"
Transferred from https://github.com/poldracklab/fmriprep/pull/1115

[2019-01-08 07:39] oesteban opened #2 "Replace nipype interface with niworkflow's antsBrainExtraction"

[2019-01-08 07:39] oesteban opened #3 "Migrate to templateflow to get templates"

[2019-01-08 18:48] effigies opened #9 "Subcortical surface meshes"
FreeSurfer's subcortical ROIs are purely volumetric. In the focus group, Greg F (Etkin Lab) pointed to [FSL FIRST](http://fsl.fmrib.ox.ac.uk/fsl/fslwiki/FIRST) for surface-based parcellations of subcortical structures.

[2019-01-08 18:49] effigies opened #10 "Quality control for FreeSurfer ROIs (parcellations)"
One use of FreeSurfer parcellations is to identify voxel seeds for tractography. A desired QC feature is to assess whether subjects had normal-sized ROIs, and to alert on small/missing ROIs.

Currently unclear what the best metrics are here, though building per-ROI distributions of sizes should be possible through OpenFMRI datasets. Pre-computation would be limited to specific atlases/parcellation

[2019-01-08 18:52] effigies opened #13 "Merge multiple T2w images?"
Currently we're just using the first T2w image, which is largely a holdover from FreeSurfer, which takes multiple T1w images and up to 1 T2w image.

Given that we're now building a T1w template and passing a single image to FreeSurfer, does it make sense to run the same procedure on T2w images, when we find multiples of those? I'm inclined to move in that direction, and register the resulting T2w

[2019-01-08 18:52] oesteban opened #14 "Non-visual QA"
Comes from #658, where @satra proposed:

with the following questions from @effigies:

Let's define that concrete proposal here. A somewhat related PR (merged) is #694. Another related issue is the warning you get on the reports when x-forms don't make sense.

[2019-01-08 18:52] oesteban opened #15 "Multi-depth sampling of cortical ribbon (multiple gifti files)"
From #658

[2019-01-08 18:53] oesteban opened #16 "Use lta_convert for simplicity"
Comes from https://github.com/poldracklab/fmriprep/issues/745#issuecomment-338356352

[2019-01-08 18:53] oesteban opened #18 "MP2RAGE skull-stripping"
Make MP2RAGE amenable to `antsBrainExtraction.sh`. One possibility, as @chrisfilo mentioned in #431 is using the inversion echoes https://github.com/poldracklab/pydeface/pull/15.

[2019-01-08 18:53] chrisfilo opened #19 "Surface reconstruction failure"
![image](https://user-images.githubusercontent.com/238759/34183046-9d068f7c-e4cd-11e7-8608-5aa1d02a42c9.png)

Could be poor data or INU failure. sub-12

[2019-01-08 18:55] chrisfilo opened #20 "Add visualizations of surface coregistration (to fsaverage)"
![image](https://user-images.githubusercontent.com/238759/36172709-8e691dd0-10bb-11e8-8b2e-95274c7d712d.png)

https://twitter.com/michaelwaskom/status/963497405726580736

[2019-01-08 18:57] araikes opened #21 "Longitudinal fmriprep with pre-run Freesurfer"
Hi all,
In a previous issue (#993), there was a discussion about using fmriprep for longitudinal studies. The question came down to the reusability of Freesurfer outputs. The suggestion was made by @chrisfilo to run Freesurfer first (preferably the BIDS App Freesurfer) and then let fmriprep pull from that.

I've run Freesurfer's recon all for my participants. When I run fmriprep, should I use the

[2019-01-08 18:57] chrisfilo opened #22 "Noisy T1w leads to poor tissue segmentation"
![image](https://user-images.githubusercontent.com/238759/36928618-3ec6aa16-1e3c-11e8-8d9e-9c13adeb0127.png)
ds000105/reportlets/fmriprep/sub-5/anat/sub-5_T1w_seg_brainmask.svg

This could be solved by applying a denoising algorithm: https://sites.google.com/site/pierrickcoupe/softwares/denoising-for-medical-imaging/mri-denoising Implemneted as `DenoiseImage` in ANTs

[2019-01-08 18:59] spitschan opened #26 "fsaverage_sym as possible output space?"
How difficult would it be to add `fsaverage_sym` as a possible output space? `fsaverage_sym` is the hemisphere-symmetric atlas, and it would require an additional step in `recon-all`,  namely:

[code]

(as described in https://github.com/scitran-apps/retinotopy-templates)

[2019-01-08 19:02] brainconnectome opened #28 "t1 processing (?) error"
[code]

ERROR:
[code]

CRASH-TXT SHOWS THIS:

[code]

[2019-01-08 19:04] danielkimmel opened #30 "freesurfer crash because cannot create symbolic links in CIFS"
Hello,

I'm running fmriprep-docker.py under CIFS. The pipeline completes when skipping freesurfer, but when I include freesurfer, I get the error listed below. The issue appears to be that FS is attempting to create a symbolic link, which CIFS does not support. There are some workarounds proposed when using stand-alone freesurfer:
http://www.biac.duke.edu/forums/topic.asp?TOPIC_ID=1532

I tried t

[2019-01-08 19:04] effigies commented on #16
I thought that was referring to the BOLD-T1w transforms.

[2019-01-08 19:06] oesteban commented on #16
True, I'll roll the transfer back :( sorry about that.

[2019-01-08 19:08] andersonwinkler opened #31 "Compulsory merger of multiple anat?"
Hi all,

Thanks again for this great tool.

It seems that when a subject has more than one anat (e.g., in multiple sessions), all are merged before doing recon-all. This is problematic if not all subjects have the same number of T1 scans: those with more scans will have a lower variance than those with just 1 scan, which violates a key statistical assumption for both parametric and non-parametric

[2019-01-08 19:08] mattvan83 opened #32 "Adding --fs-expert-file flag in the recon-all process"
In order to cover many useful options of the recon-all process (as -bigventricles), add an `--fs-expert-file` argument to the command line, and then pass that through at the first `recon-all` call.

[https://neurostars.org/t/fmriprep-passing-flags-through-recon-all-process/2465/7](url)

[2019-01-08 19:08] oesteban opened #33 "FLAIR in BIDS input data not used for Freesurfer surface ``recon-all``"
Reported with many details here: https://neurostars.org/t/fmriprep-flair-in-bids-input-data-not-used-for-freesurfer-surface-recon-all/2432/3?u=oesteban

[2019-01-08 19:08] chrisfilo opened #34 "In case T2w is not present generate it from T1w"
Using https://github.com/uw-biomedical-ml/mri2mri

[2019-01-12 20:30] oesteban opened #39 "Reports say "No errors to report", although there are errors"

[2019-01-12 20:39] #29 closed

[2019-01-14 00:00] effigies opened #40 "Apply lesion masks in skull stripping workflow"
Visually inspected one of @danlurie's reports of a participant with a lesion, and there are definite failures of skull stripping (overly conservative mask).

This should be pretty easily applied with the `-f` flag in [`antsBrainExtraction.sh`](https://nipype.readthedocs.io/en/latest/interfaces/generated/interfaces.ants/segmentation.html#brainextraction):

[code]

Given this, we will almost certain

[2019-01-14 00:13] effigies opened #42 "Add --lesion-mask-ds option to explicitly trigger masking updates"
Lesion masks are actually derivatives, so instead of looking for `_roi.nii.gz` files, we should be accepting a derivative root directory. Unlike freesurfer, the intention would not be to look for a pre-existing derivative in the output directory.

@chrisfilo and @danlurie suggest `--lesion-mask-ds` as the option.

Follow-up to #1106.

[2019-01-14 00:15] chrisfilo commented on #42
+1!

On Sun, Jan 13, 2019, 7:13 PM Chris Markiewicz <notifications@github.com
wrote:

[2019-01-15 15:38] effigies opened #44 "Option to run FreeSurfer in working directory instead of output"
Running FreeSurfer on clusters seems to be prone to NFS sync failures, which is difficult to resolve, as FreeSurfer is run directly in the output directory. While some nipype sync issues may be resolved by placing the working directory on `/tmp` or some other local scratch that has higher consistency guarantees, to do the same for FreeSurfer would mean users then need to copy the final outputs to

[2019-01-15 21:53] oesteban commented on #44
I'd rather do it always on `<work_dir>/freesurfer` and the move everything out to `<out_dir>/freesurfer`. WDYT?

[2019-01-15 21:55] oesteban commented on #44
BTW, this issue is somewhat related to #41. We could try to address both together

[2019-01-15 21:56] oesteban commented on #44
And, unless you point the work directory to a CIFS filesystem, the proposed solution should also address #30.

[2019-01-15 23:11] effigies commented on #44
The problem is that if somebody uses a prerun fs directory, then we copy it into the container, do nothing, and copy it back.

[2019-01-17 17:26] pettitta opened #54 "fmriprep stuck on resume recon-all"
Hello,

I'm currently working on a dataset with two waves of MRI data. I've been trying to debug this step for a few weeks and I've hit a wall. I've been running the following fmriprep command for a single test participant on a cluster computer using `fmriprep 1.2.4` with 100GB allotted to processing.

`singularity run --bind "${group_dir}":"${group_dir}" ${image} ${bids_dir} ${derivatives} partic

[2019-01-18 16:33] oesteban commented on #11
With #45 we are pretty close to getting this done. It would be really helpful if @effigies brought poldracklab/fmriprep#1115 from fmriprep. I can take the token from there. [That PR would also be helpful with lesion related issues]

[2019-01-18 16:34] oesteban commented on #3
Closed with #45

[2019-01-18 16:34] #3 closed

[2019-01-18 18:11] effigies commented on #11
@oesteban To be clear, that PR never worked on fMRIPrep, and I never had time to figure out why it didn't. If you think it will be helpful, I can try to get it to a similarly broken state against sMRIPrep `master`, but it's not obvious to me that it's worth the time.

[2019-01-18 18:22] oesteban commented on #11
I see. Basically, I didn't want to throw your commits away. So, if you think that trying to bring that PR back will have more friction than just start over then I'm happy to take care of the issue.

[2019-01-18 18:34] effigies commented on #11
I can see if it's fast. I'll try merging master on fMRIPrep, and if so, then I can just apply the diff in one shot over here.

[2019-01-18 19:31] oesteban opened #46 "Build documentation"
Set up a documentation build. Possibly pushing to github pages directly from Circle. WDYT?

[2019-01-18 19:50] effigies commented on #11
I don't think this is plausibly addressable until we settle on niworkflows >= 0.6. There are currently too many moving parts with regard to these workflows, and trying to wedge this into pre-template-flow (or partial-template-flow? I don't actually know what the 0.5.x state is) code while also trying to move with post-template-flow is just asking for merge conflicts.

Now that we have 0.6, should

[2019-01-18 20:01] oesteban commented on #11
I don't see any inconvenient other than the PR to niworkflows just referenced above to allow changing the `--template` target for smriprep (and fmriprep in the future). I'm just testing it out and I'm positive that it will work out.

A different issue is allowing several templates to be used as standard spaces. That will definitely require the implementation of something like poldracklab/fmriprep#

[2019-01-18 20:04] effigies commented on #11
Right, and poldracklab/fmriprep#1115 depends on poldracklab/niworkflows#236, which I've just rebased onto master, having to deal with template-flow changes in poldracklab/niworkflows#283.

It's not clear to me that rebasing poldracklab/niworkflows#283 onto `maint/0.5` in order to get poldracklab/fmriprep#1115 working with niworkflows 0.5.x is going to be a good use of time, when we're going to hav

[2019-01-18 20:08] oesteban commented on #11
Totally agree with this. I would work from master (i.e. niworkflows-0.6.x)

[2019-01-22 06:47] divyanganar opened #53 "fmriprep-docker crashing during mri_robust_register"
Hi everyone!

Our team is trying to run fmriprep with just one subject as a test on the local machine and on the cluster to see how long it takes and have a look at the output and stuff. I'm facing different issues on the local machine and on the cluster. The version that I'm using is 1.2.6.

#### Local machine

I'm running:

```fmriprep-docker --fs-license-file /Users/divyangana/Desktop/license.t

[2019-01-24 18:44] #11 closed

[2019-01-24 20:05] effigies opened #49 "Release and integration strategy"
I'm pretty concerned about the approach implied by https://github.com/poldracklab/fmriprep/issues/1475#issuecomment-457317081, which indicates that fixes are being applied to sMRIPrep, a package that is not yet ready for use, and not fMRIPrep.

I would propose the following roadmap:

1) Freeze changes to sMRIPrep except as needed to ensure that it works at all.
2) Start an fMRIPrep branch that dep

[2019-01-25 00:05] adelavega commented on #12
Yet another skulled stripped dataset on openneuro: https://openneuro.org/datasets/ds001132/versions/00002/file-display/sub-01:anat:sub-01_run-01_T1w.nii.gz

[2019-01-28 15:45] oesteban commented on #49
With poldracklab/fmriprep#1482 we are about to resolve 1 and 2.

For 3, what do you think about the idea of having sMRIPrep and fMRIPrep versions synchronized?

There's a little of overhead (when releasing, we'll need to wait for sMRIPrep to build and deploy before fMRIPrep) but I think it will pay off.

[2019-01-28 15:51] oesteban opened #50 "Output spaces, output references, FreeSurfer spaces"
This conversation was initiated in poldracklab/fmriprep#1334

This issue is just to point out that a uniform interface to outputs is necessary, as regards to templates.

At the very least, the ``fs_templates`` variable in sMRIPrep should be revised (rolled back to `output_spaces` if we decide not to change this, or add a corresponding `volume_spaces` with all the handling logic).

[2019-01-28 16:15] effigies commented on #49
tl;dr I think a little syncing will be good, but not too rigid.

IDK about synchronizing for a couple reasons:

1) dMRIPrep will not be on the same time/stability frame. I think it would be confusing to set an expectation in fMRIPrep that fMRIPrep and sMRIPrep are synced when other things that might depend on sMRIPrep won't be.
2) With higher churn in fMRIPrep (I think the majority of the work in

[2019-01-28 16:23] oesteban commented on #49
Let's wrap up on Thursday. In general, I agree with what you said.

[2019-02-05 03:59] oesteban commented on #49
Please reopen if necessary, but I think this has been addressed.

[2019-02-05 03:59] #49 closed

[2019-02-15 01:05] xj2019 opened #52 "ImportWarning and no outputs of preprocessing data"
Dear all,

I am a fresh hand trying to run fmriprep with Singularity  2.6.1-dist. In the parent directory path of subject data, I used command line as bellows:

_singularity run --cleanenv /opt/fmriprep-1.2.5.simg ./subj_data/ ./prep/ participant -w ./work/ --fs-license-file ./license.txt_

However, after bids validation, there are some warnings like:

_/usr/local/miniconda/lib/python3.6/importlib

[2019-02-15 01:05] #52 closed

[2019-02-18 07:53] divyanganar commented on #53
Memory was actually already at 32GB. I didn't really try very hard locally, because eventually we had to use the cluster (because of time). So ended up doing that! (#1478).

[2019-02-18 22:57] oesteban commented on #53
I'll close for now. If you run into similar issues, please do not hesitate to open this back.

[2019-02-18 22:57] #53 closed

[2019-02-19 19:44] hpfisher3 commented on #21
Has there been any update on this? I am also running into an issue of fmriprep not being able to recognize previously run freesurfer outputs for a longitudinal design. I get the "you are trying to re-run an existing subject with (possibly) new input data..." error

[2019-02-20 01:58] oliver-xie opened #55 "Poor T1 MNI normalization"
Dear fmriprep experts, we recently encountered an issue with our T1 skull stripping using fMRIprep. Part of dura mater was included in the brain mask leading to very poor EPI-T1 registration.
The command used is as follows
`antsBrainExtraction.sh -a /data/sub-22146/anat/sub-22146_T1w.nii.gz -m /work/fmriprep_wf/single_subject_22146_wf/anat_preproc_wf/skullstrip_ants_wf/t1_skull_strip/T_template0_B

[2019-02-20 13:58] effigies commented on #55
Thanks for this report. A couple things:

1) I think you should definitely report this upstream to ANTs. If they can help figure out how to better support cases like this, we can either incorporate their updated parameters or, if a code change is necessary, we can update to a new version of ANTs when it's available.
2) I notice the FAST tissue segmentation is much better than the skull stripping.

[2019-02-20 22:45] oesteban commented on #55
This could definitely be caused by the mask refinement

[2019-02-22 02:47] oliver-xie commented on #55
@effigies Thanks for the advice. I will report it to ANTs. I did not run FreeSurfer and I am running fmriprep again with FreeSurfer. Will let you know if that improves the outcome.

[2019-02-22 03:11] oesteban commented on #55
If you did not run FreeSurfer then please scratch this https://github.com/poldracklab/smriprep/issues/55#issuecomment-465786192

[2019-02-22 03:12] oesteban commented on #55
@oliver-xie could you share this T1w privately?

[2019-02-22 13:33] colinlaney commented on #6
I'm sorry, what is `xfm`? Looks like [FLIRT](https://fsl.fmrib.ox.ac.uk/fsl/fslwiki/FLIRT/UserGuide) parameter, but doesn't make sense.

[2019-02-22 14:10] effigies commented on #6
Transform.

[2019-02-22 16:24] colinlaney commented on #6
Sure, but what kind of? I meant it was obviously: `affine` is linear transform, `warp` is non-linear transform. But `xfm` is not self-descriptive and it misleads to which transform we deal with. Only the file format suggests the type of transform now.

[2019-02-22 16:45] effigies commented on #6
This is what is currently specified by the BIDS draft specification. See https://docs.google.com/document/d/17ebopupQxuRwp7U7TFvS6BH03ALJOgGHufxK8ToAvyI/edit#heading=h.rxc844jqesod

It does not appear to have made it into bids-standard/bids-specification#109, but it is currently what we have to work with.

[2019-02-22 16:47] colinlaney commented on #6
Thank you, I have missed this update of BIDS.

[2019-02-23 00:23] oliver-xie commented on #55
@oesteban I have shared the T1w images through google drive to your Stanford email address. I also checked with ANTs developers and was told to use another template.

Thanks for your help!

[2019-02-27 03:23] oesteban commented on #55
Thanks, yes, I received the link. Which template did the ANTs devs recommend you?

[2019-02-27 17:36] oliver-xie commented on #55
They did not recommend a specific template. Just told me to try another template.

[2019-03-01 16:15] jflournoy commented on #8
I want to make sure I'm reading this thread correctly, since both Klein et al (2010) and Ghosh et al (2010) indicate that registration using (e.g., ANTS +) custom templates should improve registration. Is it the case that after another decade of experience, you, @satra, have found that as long as the sample is large enough and participants are older than 4 years, one might as well just register di

[2019-03-01 18:18] satra commented on #8
@jflournoy - the conversation has become even more complicated i would say. anatomical registration is just one part of the story. now you have multimodal registration via MSMAll, [Diffusion Map embedding alignment](https://www.ncbi.nlm.nih.gov/pubmed/26855977), and [epi-T1-based surface registration](https://www.ncbi.nlm.nih.gov/pubmed/27079529).

at the end of the day, i would say the decision s

[2019-03-06 20:12] oesteban commented on #54
Hi @pettitta, any news on this end?

[2019-03-06 20:38] pettitta commented on #54
Hi Sorry! Yes, I got it figured out. The script was working the whole time it just took each participant (on average) up to 6 days for it to complete--sometimes going as long as 14 days on as single participant. As for the `--output-space` arguments it seemed to do just fine with them, but maybe it wasn't complete? Should I go back and redo it? Is there anything I should check to make sure that it

[2019-03-06 20:41] oesteban commented on #54
For every subject, a visual report should've been created. In that report, there is a section "Errors". It should say "No errors to report!".

[2019-03-06 20:41] #54 closed

[2019-03-08 15:51] effigies opened #58 "Multi-session datasets with multiple lesion masks"
Our current workflow seems to assume that when there's a lesion mask, there's only one T1w image and only one mask. In [Neurostars #3776](https://neurostars.org/t/fmriprep-error-lesion-masks-over-sessions/3776), where there are multiple sessions with anatomicals and masks, this results in an illegal list of lesion masks being passed to `t1_2_mni`.

`mri_robust_register` (used under the hood of `mr

[2019-03-08 19:06] danlurie commented on #58
Just want to make sure I understand the situation before answering, which of the following situations are we considering?
1) There are multiple sessions, and each session has its own T1w and lesion mask.
2) There are multiple sessions, each session has its own T1w but there is only a single lesion mask.
3) Both 1 and 2.
4) Something else.

Also, am I following correctly that multi-session T1w imag

[2019-03-08 19:13] effigies commented on #58
I believe it's case 1, at least for what we're seeing. If there were multiple T1s and only one lesion mask, that would itself be potentially problematic if the first session (ordered lexically) were not the one with the mask, then alignment might be broken.

Yes, we create a template by coregistering all of the T1w images and taking the median. Typically aligned to the first image (ordered lexical

[2019-03-08 20:34] a3sha2 commented on #58
Is it possible to process T1w in different session separately?
In our case, different between session was more than a year or more for the same subject, same protocol, same parameter and same machines.

[2019-03-08 20:45] effigies commented on #58
They can be preprocessed *entirely* separately, but I believe at the moment fMRIPrep can't simply select one session and ignore the others. If that's what you want, I think it makes sense to prioritize re-enabling `--session <label>` options, at which point you would run a separate instance of fMRIPrep for each session.

This would mean, though, that there's no correspondence between the `T1w` spa

[2019-03-08 20:46] effigies commented on #58
Oh, I think Peter is on Github. cc @petergoodin

[2019-03-08 20:48] a3sha2 commented on #58
Thanks very much. I work with Ted Satterthwaite from Penn.

[2019-03-09 00:21] oesteban commented on #6
@ahoopes https://github.com/templateflow/tpl-fsaverage/blob/master/tpl-fsaverage_dseg.tsv - thanks!

[2019-03-09 03:51] #2 closed

[2019-03-11 21:21] danlurie commented on #58
In my experience, given the difficulty of drawing/generating masks, multiple masks (i.e. one mask for each session) will only exist in cases where the masked area is different between sections, such as when doing a longitudinal study of stroke recovery. Given such a scenario, we would not want to take a union of the masks, but rather just accept that there will be some deformation when registering

[2019-03-11 23:49] petergoodin commented on #58
Hi,
Just to confirm: the pathology is stable over scans and the mask was drawn from the first session lesion then co-registered to subsequent session.

[2019-03-12 19:48] effigies commented on #58
Okay. I think in this particular case, as long as you're happy using the template, then removing the extra lesion masks might be sufficient to resolve your issue. I would run first with `--anat-only`, to make sure that the lesion mask does align to the final template (do *not* use `--longitudinal`).

[2019-03-12 20:53] petergoodin commented on #58
Awesome, thanks for the work around!

[2019-03-12 21:04] effigies commented on #58
Ah, and just to be clear:

`--anat-only` will not fix the mask. It just avoids spending time on functionals before you've had a chance to verify the mask. You'll still want to manually load the preprocessed T1w and the original ROI mask to check.

And actually, I'd add `--output-space T1w`, which prevents T1w-MNI normalization. If your mask is not aligned, that will likely add on a bunch of time.

[2019-03-12 22:14] oesteban opened #59 "Map fsLR template to fsnative/T1w space"
In pursuing poldracklab/fmriprep#1025, this would be the fastest route to avoid the overhead of an extra surface registration step with MSM. After all, users in need of a more precise registration should be using ciftify anyways.

To do this, I _think_ this would be the workflow:
  - [x] Make sure we have all we need from templateflow (templateflow/templateflow#13)
  - [ ] Back-project ``tpl-fsLR_

[2019-03-14 01:20] oesteban opened #60 "Derivatives: ensure per-session files are correctly named"
(comes from #6)

Additionally, we have multiple T1w images, so we have the following per-session files:

| Old | New |
|---|---|
| `sub-07_ses-<session>_T1w_space-orig_target-T1w_affine.txt` | <ul><li>[ ] `sub-07_ses-<session>_from-orig_to-T1w_mode-image_xfm.txt`</li></ul> |

[2019-03-14 01:22] oesteban opened #61 "Derivatives: metadata of transforms"
From #6:

- [ ] Transform files will need extensive metadata

[2019-03-14 18:36] oesteban opened #63 "CircleCI Optimization: skip costly nodes"
The two main bottlenecks on the CI workflow causing a slow development iteration are:
- Caching docker images (where there's little to do)
- Long-running nodes (mainly based on ``antsRegistration``).

The idea of this request is to implement some mechanism that allows injecting pre-calculated transforms to ``antsRegistration``-based nodes. We could maybe trigger the mechanism after the `_run_inter

[2019-03-15 11:48] #6 closed

[2019-03-16 21:10] sandhitsu commented on #29
I saw the last message at https://github.com/poldracklab/smriprep/issues/52 which says the fix for this is now available in fmriprep. However, I just tried with 1.3.0.post3 I am still getting the error

ERROR! FOV=282.000 > 256
Include the flag -cw256 with recon-all!
Inspect orig.mgz to ensure the head is fully visible.

[2019-03-21 20:28] araikes commented on #4
@pettitta I'm just seeing this right now. I'm curious if this solution works for allowing FMRIPrep/Nipype to identify that Freesurfer has already been run and correctly import the expected folders?

[2019-03-26 20:09] oesteban opened #66 "Generate multiple surfaces"
Convert this node in a mapnode that iterates over several depths. cc @satra for the actual values we need to iterate over

https://github.com/poldracklab/smriprep/blob/a40cf9060960fcda2c3ecd21ab9add1f3bb8079d/smriprep/workflows/surfaces.py#L437

[2019-03-26 22:33] oesteban commented on #63
@satra can you drop some of your wisdom?

[2019-03-26 22:37] satra commented on #66
given current resolutions and assuming cortex is empirically around 3mm thick, i would suggest we do 0.1, 0.25, 0.5, 0.75, 0.9 by default, with a flag to allow overriding this list. the list would depend on the use cases.

[2019-03-26 22:43] satra commented on #63
i would use datalad/or some such to pre-populate the working directory and make sure to use content hash. if the working directory structure changes this wouldn't work.

almost seems like this is a test utility we could introduce in nipype.

[2019-03-26 23:05] oesteban commented on #63
Re: content caching - [it is on](https://github.com/poldracklab/smriprep/blob/a40cf9060960fcda2c3ecd21ab9add1f3bb8079d/.circleci/config.yml#L143).

Yep. I thought sMRIPrep is a great testing ground before we upstream it to nipype.

[2019-03-28 21:04] oesteban opened #67 "sMRIPrep silently discards additional templates"
Remove this abomination:
https://github.com/poldracklab/smriprep/blob/a40cf9060960fcda2c3ecd21ab9add1f3bb8079d/smriprep/workflows/anatomical.py#L175-L176

by implementing a proper behavior when the user sets several templates.

[2019-03-29 23:25] oesteban commented on #67
Fixed via #68.

[2019-03-29 23:25] #67 closed

[2019-04-11 04:00] wanjiag opened #69 "Register the FLAIR or T2 to the T1w space"
Coregister FLAIR and/or T2 into the T1w space, and add this option as derivatives for fmriprep.

[2019-04-11 15:19] effigies commented on #69
Thanks for proposing this. I think it makes sense to do this unconditionally on FLAIR and T2w images.

Some options for registration:

1. FreeSurfer [uses](https://github.com/freesurfer/freesurfer/blob/release_6_0_0/scripts/recon-all#L4218-L4223) `bbregister` after surface reconstruction to align T2/FLAIR to the T1.
2. `mri_robust_register` has the following example in its documentation:
[code]
3.

[2019-04-11 17:40] wanjiag commented on #69
This sounds good to me! Thanks for listing the potential methods. Since my data set only has T2 but not FLAIR, I am wondering if there is any open sources data set that I can try all three methods with? I assume the comparison is mostly by eye on this step?

Thanks again Chris!

[2019-04-11 17:56] effigies commented on #69
I would check OpenNeuro. If you have [datalad](https://datalad.org), you can search all of it pretty easily:

[code]

(I actually just ran it to check, and it looks like [ds000221](https://openneuro.org/datasets/ds000221) and [ds000244](https://openneuro.org/datasets/ds000244) are good candidates. And a lot have T2w, as well, if you want to try some more datasets.)

And yes, this is basically by e

[2019-04-11 18:10] wanjiag commented on #69
Thanks! I will follow up when I am done with this step.

[2019-04-15 15:15] effigies commented on #12
Related to [NeuroStars #4091](https://neurostars.org/t/4091), another thing we could consider is allowing users to supply their own `desc-brain_mask.nii.gz`, similar to how they currently supply lesion masks. In the existing dataset cases, we could simply filter T1w images with `T1w_data > 0` to produce a mask, that would then bypass the skullstripping workflow.

[2019-04-17 16:18] rwblair commented on #46
https://robpol86.github.io/sphinxcontrib-versioning/

[2019-04-17 16:43] oesteban commented on #50
(THIS IS A DRAFT)

### Currently supported

- [x] Allow the user to change the atlas used in brain extraction (as long as the selected atlas has a binary brain mask, although it would be better to use only templates that have a probabilistic brain mask and Registration/Extraction masks).
- [x] Allow the user to change the Spatial Normalization target with the `--template` argument (although some p

[2019-04-17 18:33] jdkent commented on #46
Last year, I tried configuring [doctr](https://drdoctr.github.io/) with sphinxcontrib-versioning, but that repository was essentially abandoned and I was trying to get forks of that project to work with newer versions of sphinx. I went back to readthedocs with my tail between my legs since it was the simplest "out of the box" solution. However, looks like sphinxcontrib-versioning may be [gaining n

[2019-04-17 20:10] oesteban commented on #50
I don't think this is an issue anymore. It will require some downstream changes from fMRIPrep though, but we can open a fresh new issue when we agree on how the interface should look like.

[2019-04-17 20:10] #50 closed

[2019-04-18 01:24] sentry-io[bot] opened #70 "mri_robust_template: Return code: 251"
Sentry Issue: [FMRIPREP-8GP](https://sentry.io/organizations/poldracklab/issues/989778637/?project=1137693&referrer=github_integration)

[code]

[2019-04-18 01:26] effigies commented on #70
Conformation failure:

[code]

[2019-04-18 01:27] sentry-io[bot] opened #71 "recon_report: ValueError: no field of name scl_slope"
Sentry Issue: [FMRIPREP-8EH](https://sentry.io/organizations/poldracklab/issues/986673468/?project=1137693&referrer=github_integration)

[code]

Same as poldracklab/fmriprep#1585

[2019-04-21 03:10] #1 closed

[2019-04-21 16:27] oesteban commented on #41
Bumping this up. I think that option 3 + checking the mtime of the `recon-all.log` gives us the best tradeoff. If mtime < 24h then the warning when deleting IsRunning files is noisier and warns about the risks of running competing fmriprep processes.

[2019-04-23 01:28] #38 closed

[2019-04-29 08:17] Lindadalaile commented on #5
Excuse me,I think I also get the same error for one of my subjects
Is there anyone me?I'm crazing
Here is the full detail.
[error.txt](https://github.com/poldracklab/smriprep/files/3126444/error.txt)

[2019-04-30 15:15] effigies opened #78 "Force compression of NIfTI derivatives"
Just a note that poldracklab/fmriprep#1555 is occurring in the anatomical derivatives. Assuming we want to force compression (which I can't see a good reason not to), we just need to add `compress=True` to the NIfTI derivative datasinks.

Still should fix poldracklab/niworkflows#350.

[2019-04-30 22:17] oesteban commented on #5
It doesn't look like an error. At least it doesn't look like this one:

[code]

Please provide further details for us to help.

[2019-05-02 15:22] #78 closed

[2019-05-06 16:18] oesteban opened #82 "T1w workflow x-form inconsistency"
DS000003's `anat_template_wf/t1_conform/mapflow/_t1_conform0/sub-11_T1w_ras.nii.gz` has the following headers:

[code]

Given those q/s form codes, then the new version of antsBrainExtraction chokes because it includes a final refinement step using the WM mask in `N4BiasFieldCorrection`. The WM mask calculated by atropos has different headers:

[code]

The proposal would be double:
1. Include a va

[2019-05-06 16:24] oesteban commented on #82
@effigies any ideas against point 1 of the proposed fix?

[2019-05-06 16:34] effigies commented on #82
Nope, that seems reasonable.

[2019-05-06 22:23] oesteban opened #84 "Rodent T2w preprocessing: calculate T2w template and validate headers"
Based on https://github.com/poldracklab/smriprep/blob/4f79b71e5527a1b4c6844e8508996386b26b75f0/smriprep/workflows/anatomical.py#L38-L381, set up a workflow for rodent MRI that:

- [ ] Calculates a T2w template if several images are given

[2019-05-06 22:25] oesteban opened #85 "Rodent T2w preprocessing: brain extraction"
Based on https://github.com/poldracklab/smriprep/blob/4f79b71e5527a1b4c6844e8508996386b26b75f0/smriprep/workflows/anatomical.py#L38-L381, set up a workflow for rodent MRI that:

- [ ] Runs the antsBrainExtraction workflow (which @rciric adapted for rodents) against a template on TemplateFlow.

Depends on #84

[2019-05-06 22:26] oesteban opened #86 "Rodent T2w preprocessing: brain tissue segmentation"
Based on https://github.com/poldracklab/smriprep/blob/4f79b71e5527a1b4c6844e8508996386b26b75f0/smriprep/workflows/anatomical.py#L38-L381, set up a workflow for rodent MRI that:

- [ ] Runs brain tissue segmentation

Depends on #84, #85

[2019-05-06 23:41] #82 closed

[2019-05-07 14:47] Lindadalaile commented on #5
Thank you! I had solved this problem with others help. Thank you again.

[2019-05-07 16:51] effigies commented on #5
Oh wait. This wasn't the originator...

[2019-05-15 22:38] oesteban opened #87 "Update parser actions to take custom templates"
Necessary for #8. Requires templateflow/python-client#12

[2019-06-11 14:08] oesteban commented on #24
This is done.

@switt4, the documentation is here - https://fmriprep.readthedocs.io/en/latest/spaces.html

[2019-06-11 14:08] #24 closed

[2019-07-09 13:49] effigies opened #93 "MAINT: Bump pybids to 0.9.x"
To avoid conflicts when upgrading fMRIPrep.

[2019-07-09 17:05] oesteban opened #95 "MAINT: Change installation to ``setup.cfg`` for pip > 19"
Comes from #93

[2019-07-09 17:09] oesteban opened #96 "MAINT: Create a README file"

[2019-07-09 17:13] effigies commented on #95
Should set a minimum setuptools of 30.3.0 in `setup_requires` and `pyproject.toml`. This should get us into a place where having a recent pip OR a recent setuptools will install correctly, and an understandable error will be printed if neither is new enough.

There was a little discussion on nipy/nibabel#764. See the full comparison (https://github.com/nipy/nibabel/compare/935079b45d9d9477c2b59993

[2019-07-11 17:32] effigies opened #97 "pytests job takes 12min to setup, 4s to run"
We should probably not require the Docker image to run pytests.

[2019-07-11 17:42] oesteban commented on #97
Is there any third party software we need for pytest? If not, you are totally right :+1:

[2019-07-11 17:44] effigies commented on #97
Doubt it, but haven't really looked yet. Mostly just flagging this for when we get time.

[2019-07-12 16:54] #93 closed

[2019-07-12 18:39] #95 closed

[2019-07-12 18:39] #97 closed

[2019-07-17 09:57] vtsogli opened #100 "problematic alignment of T1w form two subjects"
Hello,

I run fmriprep using this command:
`sudo /home/.../.local/bin/fmriprep-docker ../Data/BIDS ../Data/BIDS/derivatives participant --participant-label 001 --fs-license-file /usr/local/freesurfer/license.txt`
There were no errors reported in the .html file.
Then I opened the T1w files (sub-002_desc-preproc_T1w.nii.gz) for 2 subjects to check the alignment and it appears that it's not as expect

[2019-07-19 08:58] vtsogli commented on #100
Hi Chris,
Thank you very much for your response.
You were right!
Here is the new screenshot:
![anat_SPM](https://user-images.githubusercontent.com/38208248/61523014-d10e8100-aa13-11e9-9582-d4ea7f994532.png)

[2019-07-20 04:02] #100 closed

[2019-07-24 16:22] effigies commented on #71
Isn't this resolved?

[2019-07-24 19:23] oesteban commented on #71
I believe so. I moved it to the backlog column with the intent of talking about it today. But forgot to mention.

[2019-07-24 19:23] #71 closed

[2019-08-08 21:24] marcpabst commented on #18
Is there anyone working on this? As far as I understand, there are at least two viable options to work with mp2rage images:

(1) use the second inversion image (INV2) to create a brain mask and then apply that mask to the uniform image (UNI) - basically getting rid of the background noise that irritates freesurfer.
(2) using a noise suppression approach described [here ](https://journals.plos.org/

[2019-08-09 23:11] oesteban commented on #18
I @marcpabst, your comment is the most memorable advance there's been on this line. In other words, contributions are very welcome!

Regarding which method is preferable, I honestly don't have the experience to tell you what alternative looks best.

With (1) I'd be careful that BIDS mandates the INV2 image is present in the dataset. If not, then this implementation will only serve for a few edge c

[2019-08-11 23:26] marcpabst commented on #18
You're right. @Gilles86's repo does not contain the specific implementation, my mistake. However, I already created a [python implementation](https://github.com/marcpabst/mp2rage-denoise/blob/master/mp2rage_denoise.py) for testing purposes.

For mp2rage datasets, there should be always a second inversion present. In fact, both approaches depend on it - there is basically no way (I know of) to get

[2019-08-12 09:41] Gilles86 commented on #18
Hey guys,

A few cents:
a) A group of people, including myself, is currently making a BIDS extension that includes MP2RAGE-images. See here for the extension:
https://github.com/bids-standard/bep001https://github.com/bids-standard/bep001

I think especially these two examples are useful:
 * https://github.com/bids-standard/bep001/tree/master/examples/ds-02
* https://github.com/bids-standard/bep001

[2019-08-12 14:22] marcpabst commented on #18
Hi Gillles,

thanks for your detailed and helpful comment.

That's a good idea to avoid confusion, making sure that one cannot expect a familiar-looking "normal" T1w image.

I will gladly do so.

O'Brien et al. described the introduced homogeneity as "mild", whatever that means. I was also wondering about possible noise within the brain and if that would be problematic in regards to further proces

[2019-08-12 14:44] Gilles86 commented on #18
Hey Marc,

Cool!

I think the choice of regularization parameter is very important: when you regularize too aggressively, you can potentially "eat" parts of the brain away and/or reintroduce strong inhomogenieties. In my experience, it goes wrong exactly where you don't want it to go wrong: at the CSF/GM-boundary (maybe partial volume effects?).

Another issue is that on standard PD-weighted INV2-

[2019-08-15 14:41] marcpabst commented on #18
Hi Gilles,

thanks for your thorough explanation and also for providing me with your great presentation.

I'm just beginning to get a grasp of this stuff - I'm a psychology undergraduate and currently also a research intern at the Max-Planck-Institute in Leipzig so I really hoping that I'm not annoying you too much.

The functional dataset I'm working with uses mprage images for (pre)processing if

[2019-08-19 14:53] JosePMarques commented on #18
Hi Marc and Gilles,

I haven't put much effort in terms of comparing methods to better perform brain extraction.
I was recently contacted by Benoit Beranger @benoitberanger that has made an interative spm implementation of my regularization code (https://github.com/benoitberanger/mp2rage) and he claims that SPM is always able to perform brain extraction successfully using his data.

I agree with G

[2019-08-19 17:43] benoitberanger commented on #18
Hello everyone,

In our lab, we like the segmentation from CAT12, the extension of SPM12.
After visual checks, we found that this segmentation pipeline gives us good estimates of GM & WM compartments for the standard MPRAGE.
However, for MP2RAGE, CAT12 segmentation is not visually accurate when it's performed on the INV2 (close from T1 contrast) or UNI image. For example, the GM compartment leaks

[2019-08-23 20:25] tyarkoni commented on #12
This would increase the number of datasets we support in NeuroScout by at least 1, and possibly more, so if there's any way to prioritize this (especially given that it's tagged as low effort), it would be much appreciated.

[2019-08-31 01:52] oesteban opened #101 "Segmentation and normalization reportlets show the INU-uncorrected T1w image"
Comes from https://neurostars.org/t/fmriprep-v1-4-0-does-not-correct-for-inu-and-generate-a-full-html-report/4439/2?u=oesteban

[2019-09-05 19:50] #101 closed

[2019-09-11 16:22] bpinsard opened #104 "select which T1 to use when multiple _T1w.nii.gz are present"
For instance if you acquire in the same session a brain T1w which outputs `..._T1w.nii.gz` and `..._rec-norm_T1w.nii.gz` (scanner normalization) and also a cervical spinal cord T1w named `....loc-spine_T1w.nii.gz`, fmriprep seems to try making an average of all these.
Is there an option to select from a BIDS anat directory, the specific T1w to select for anatomical processing using a glob or else?

[2019-09-11 19:04] bpinsard commented on #104
Ok thanks!
I guess it would be useful to have options --anat_bids_filter and --func_bids_filter to pass to pybids in fmriprep and smriprep, and maybe deprecate the -T option.

[2019-09-11 22:37] oesteban commented on #104
Related - #31

[2019-09-11 22:49] oesteban opened #105 "Modular sMRIPrep with derivatives peeking option"
Except when some ``--force-anat`` flag is set, build the workflow modularly. First, a BIDSLayout including the output folder will be used to index derivatives that are available.

Today, the derivatives used in fMRIPrep are:

- T1w
  - desc-preproc
  - desc-brain
  - desc-brain_mask
  - _dseg

- standard spaces (<list> and <nipype iterable>)
  - ids
  - anat2std_xfm (fwd)
  - std2anat_xfm (rev)

-

[2019-09-11 23:10] oesteban commented on #105
This will also serve for poldracklab/fmriprep#1769, if additional derivatives folders can be provided.

[2019-09-13 19:20] effigies opened #109 "FAST sensitive to N4 quality"
Please see discussion in [Neurostars #4859](https://neurostars.org/t/n-a-whitematter-confounds-in-tsv-output-file/4859/10).

Summary:

1) ANTs N4 + `fast -N` results in poor segmentation
2) ANTs Atropos seems to work reasonably well
3) N4 + `fast` seems to work reasonably well, as FAST has built-in bias correction

Options:

1) Switch to Atropos - this has the advantage of removing an FSL, with it

[2019-09-18 21:12] oesteban commented on #109
I would go for 4 and fall back to 1 for ``--fs-no-reconall``.

[2019-10-04 22:03] adelavega commented on #12
I tested out on a limited set of images (skullstripped, defaced, raw), Chris's suggestion of seeing if all extreme planes are all zeros. In my limited test case this worked.

I also looked into where I could stick this into the workflow. It seems like `niworkflows.anat.ants.init_brain_extraction_wf` is the right place.

I'm guessing, if this test indicates the image is skullstripped, we'd skip the

[2019-10-05 02:06] effigies commented on #12
Brain extraction and normalization are two different things. We would just skip extraction, and pass the skull stripped brain in two places for normalization.

[2019-10-05 03:48] adelavega commented on #12
Makes sense, I just have no clue where the extraction happens then (is it `map_gaussian` with the templates? antsAI?), so if you could point me to which steps would be skipped, I'd be happy to give implementation a go and test w/ the datasets I have.

[2019-10-05 16:45] effigies commented on #12
https://github.com/poldracklab/smriprep/blob/5b519b1e2446ec8b69848575d7bc67800474f035/smriprep/workflows/anatomical.py#L226-L231

https://github.com/poldracklab/smriprep/blob/5b519b1e2446ec8b69848575d7bc67800474f035/smriprep/workflows/anatomical.py#L259-L260

https://github.com/poldracklab/smriprep/blob/5b519b1e2446ec8b69848575d7bc67800474f035/smriprep/workflows/anatomical.py#L269-L270

I guess th

[2019-10-11 18:17] effigies opened #120 "Brain extraction workflow does not reuse cache"
While testing FreeSurfer, two immediately succeeding runs with the same working directory rerun large chunks of the brain extraction workflow, due to an "outdated cache" detected for `init_aff`. This task had previously run successfully.

[code]

[2019-10-11 19:44] oesteban commented on #120
I believe this is a result of not using the content hash, since nipype was patched too recently (https://github.com/nipy/nipype/pull/3072)

[2019-10-11 20:13] effigies commented on #120
But I'm running with the same version of nipype...

[2019-10-11 22:46] #46 closed

[2019-10-11 22:47] oesteban commented on #120
What do you find below the last line (` [Node] Outdated cache found for "smriprep_wf.single_subject_01_wf.anat_preproc_wf.brain_extraction_wf.norm"`)? The diff between inputs should be shown.

[2019-10-11 22:56] effigies commented on #120
I don't think it was. But I showed the first outdated cache on the first line. Anyway, not at that computer now. Can try rerunning on Monday.

[2019-10-11 23:10] oesteban commented on #120
Oh I see, yes - you'll need to increase the verbosity to see the inputs that changed.

[2019-10-14 10:57] eds-slim opened #123 "segmentation fault in mri_convert"
Hi, when using fmriprep version v1.5.0rc1 in singularity version 3.4.2-rc-1 I receive an error in recon-all

[code]

Specifically, there appears to be an segmentation fault in `mri_convert`
[code]

I get the same error, when I run this command isolated through singularity:
[code]

Interestingly, no error occurs when i change `-odt float` to `-odt uchar` or `-odt short`. The seg fault does occur fo

[2019-10-15 14:03] dmd opened #124 "core dumped while running recon-all"
We're getting a core dump and not sure what to do about it.

We start with:

[code]

and it runs until:

[code]

[recon-all-rh.log](https://github.com/poldracklab/fmriprep/files/3729705/recon-all-rh.log)

[fmriprep.o433134.txt](https://github.com/poldracklab/fmriprep/files/3729707/fmriprep.o433134.txt)

[2019-10-15 18:30] #96 closed

[2019-10-15 21:04] effigies commented on #123
You'll need to check whether `nu.mgz` is aligned to `orig.mgz`. It takes `talairach.xfm` as an input: https://surfer.nmr.mgh.harvard.edu/fswiki/ReconAllTableStableV6.0

[2019-10-16 03:29] oesteban commented on #39
Should have reported the actual errors. Will reopen if I see an example.

[2019-10-16 03:29] #39 closed

[2019-10-16 05:37] eds-slim commented on #123
Thanks for taking this up! Is there anything I can test further or otherwise contribute from my side?

[2019-10-16 12:21] dmd commented on #124
We can close this, this definitely was (a) a freesurfer issue and (b) a data issue.

[2019-10-16 12:21] #124 closed

[2019-10-17 02:16] oesteban commented on #23
We still see some errors (e.g., ds000114/sub-02) but this seems to have improved a lot. ds000114/sub-{03,04} and ds000051/sub-02 look much better (actually, pretty good).

<img width="934" alt="Screen Shot 2019-10-16 at 7 05 38 PM" src="https://user-images.githubusercontent.com/598470/66972043-1dd01b00-f048-11e9-9555-a6594be96cbe.png">

I have started a wiki for very hard cases for brain extractio

[2019-10-17 02:16] #23 closed

[2019-10-17 17:44] oesteban opened #125 "INU correction gone wrong"
![ds005-sub-08-biasfield](https://user-images.githubusercontent.com/598470/67033660-1aca3e80-f0cb-11e9-9842-8b920538c700.png)

fmriprep-1.5.1rc1 - ds005/sub-08

[2019-10-17 17:51] oesteban opened #126 "FreeSurfer synchronization error"
ds000051/sub-01 on TACC.

[code]

[2019-10-17 17:53] oesteban commented on #125
ds051/sub-06

![ds051-sub-06-biasfield](https://user-images.githubusercontent.com/598470/67034364-68937680-f0cc-11e9-9603-91c7a53d49f9.png)

[2019-10-17 23:49] angelw55 opened #127 "Misalignment of brain tissue segmentation of the T1w"
Hi fmriprep experts,

I am using fmriprep 1.4.0 to preprocess our anatomical and functional data. I found something wrong with the brain tissue segmentation and the spatial normalization of the T1w. But I found that it is okay for the surface reconstruction done by FreeSurfer, and the alignment of functional and anatomical data. Please refer to the attached figures. How to solve this problem?

Tha

[2019-10-17 23:50] oesteban commented on #125
Possibly duplicate of #127

[2019-10-18 00:11] araikes opened #128 "Inconsistent freesurfer outputs"
Hi all,
I'm hoping you can help me clear something up. A colleague in my lab wanted to run Freesurfer on some data for an analysis. I have been advocating for an in-lab workflow that includes BIDS-Apps/Freesurfer and fMRIPrep. She was interested in understanding how Freesurfer runs, so she ran it via command line.

As an internal cross-validation test, I ran one of the same subjects using the BIDS

[2019-10-18 00:12] fliem opened #129 "autorecon3 issue"
Running fmriprep (v1.4.0) gives me random i/o-related autorecon3 errors in around half the subjects, similar to [this](https://neurostars.org/t/could-not-read-error-while-file-out-freesurfer-sub-001-mri-t2-prenorm-mgz-exist/).

Random, as it is not always the same subjects across different executions, and not always the same error. If I run it without T2w, T2.prenorm.mgz-related errors are replace

[2019-10-18 00:28] JoffJones opened #130 "Incosistent autorecon errors"
Hi all, related to https://github.com/poldracklab/fmriprep/issues/1798 I'm experiencing inconsistent errors for the same subjects related to freesurfer. Most of the time it seems to run OK, but sometimes it fails. The first error was autorecon_31 and more recently I received an error with autorecon_30. I always create new working directories so I'm not sure how to avoid this problem in future. Any

[2019-10-18 03:47] oesteban opened #131 "Allow spatial normalization to the same template, different cohort"
Comes from poldracklab/fmriprep#1817.

If we decide to allow spatial normalization to more than one cohort (which is debatable), then that possibility should be first wired in here.

[2019-10-21 16:33] oesteban opened #132 "Missing file from FreeSurfer - synchronization issue too?"
Happened on TACC, after one of those results files errors (so it could also be that the merger node was required for this file to exist).
[code]

[2019-10-23 08:52] eds-slim commented on #123
I looked into the issue a bit further and tried to run `mri_convert` on the offending `orig.mgz` outside the container, this works without error.

As far as I can tell, the local and containerized versions of `mri_convert` are the same
[code]
[code]

Thanks for further input to resolve this.

[2019-10-24 10:11] eds-slim commented on #123
The same error
[code]

occurs with the latest `smriprep` version `2019-09-09-76bc290c67e9`.

[2019-10-24 14:46] eds-slim commented on #123
On further scrutiny I have been able to use the `-nocache` option to `volume_stats` as described [here](https://mailman.bic.mni.mcgill.ca/pipermail/minc-users/2008-April/002001.html) to get the code to execute a little bit further.
It now crashes out with a segmentation fault on `spline_smooth`. I will raise this issue with the N3 people and report back when I get a response. The alternative sugge

[2019-10-25 21:09] effigies commented on #120
Ah, the issue is that the brain extraction mask isn't pre-downloaded into the Docker image, so the timestamp hash is new every time.

[2019-10-25 21:16] oesteban commented on #120
Sorry, I wasn't clear before - we set the hash to content and write it to the config file, but then the config file is ignored because of that bug in nipype, I guess

[2019-10-25 21:18] effigies commented on #120
Wait, you want to do content hashes in general? Isn't that going to take a very long time?

[2019-10-25 21:21] oesteban commented on #120
We've been doing it for a while in fMRIPrep and it doesn't seem to be a lot slower. Regardless, I agree that mask should be cached.

[2019-10-25 21:23] effigies commented on #120
I'm adding it to #117.

[2019-10-29 21:00] effigies commented on #123
Sorry, I'm still just not understanding why this is happening. I don't see any reason that N3 should fail after N4 runs.

Is the issue that we're inducing negative numbers in the image with N4 correction? What do these images look like?

If you're able to share the original T1w image, I could see if I can reproduce this.

[2019-10-30 19:27] effigies commented on #33
ds000244 has FLAIRs.

[2019-11-09 00:18] oesteban opened #137 "Packaging - smriprep-docker version is always 99.99.99"

[2019-11-09 01:41] #137 closed

[2019-11-22 17:47] sameera2004 commented on #69
Hi @wanjiag,

We are collecting both T1w and T2w data for all our fMRI studies. We are using HCP to pre process our data. Recently I started to use fMRIprep to pre process our structural and TASK data.

I found out we don't see T2w outputs after running fMRIprep. I only see T1w outputs like following

sub-500_desc-preproc_T1w.nii.gz
sub-500_from-MNI152NLin2009cAsym_to-T1w_mode-image_xfm.h5
sub-500

[2019-11-26 18:13] mgxd opened #142 "Ensure workflow docstrings include all inputnode/outputnode slots"
For example, https://github.com/poldracklab/smriprep/blob/3213c38fdaf35a2fc7880fd8532d4086d5bd5463/smriprep/workflows/anatomical.py#L123-L161
is missing `template`, `t1w_realign_xfm`, `t1w_aseg`, `t1w_aparc`

https://github.com/poldracklab/smriprep/blob/3213c38fdaf35a2fc7880fd8532d4086d5bd5463/smriprep/workflows/anatomical.py#L200-L208

[2019-11-27 22:35] oesteban commented on #59
i don't think this is an issue anymore (see poldracklab/fmriprep#1887 & poldracklab/niworkflows#417)

[2019-11-27 22:35] #59 closed

[2019-11-29 16:56] Park-Patrick commented on #104
Also interested in this issue! i.e. where there are multiple versions of the same T1w scan due to different gradient correction methods applied.

Happy to help as well. In our case, the file names look like
`sub-xx_acq-yy_rec-DIS3D_run-01_T1w`
`sub-xx_acq-yy_rec-DIS2D_run-01_T1w`
so maybe just parsing for the tag and adding a command line argument `--t1w_select` to specify?

[2019-12-03 16:20] #120 closed

[2019-12-04 05:32] oesteban commented on #27
I guess the only missing bit here is to propagate the `--fs-subjects-dir` flag to fMRIPrep?

[2019-12-04 06:03] effigies commented on #27
I think that's right.

[2019-12-04 16:26] mgxd opened #145 "Issue parsing templates"
in the wild: poldracklab/fmriprep#1895

If no parameters are passed to template, default should be set to an empty dictionary, not None, to allow for downstream parameter querying.

[2019-12-04 19:55] #145 closed

[2019-12-05 05:20] oesteban opened #147 "Sphinxcontrib-versioning does not like changes in ``docs/config.py``"
See https://app.circleci.com/jobs/github/poldracklab/smriprep/2059/parallel-runs/0/steps/0-108

/cc @rwblair

[2019-12-05 16:35] oesteban commented on #27
Opened a particular issue for this in fMRIPrep proper.

[2019-12-05 16:35] #27 closed

[2019-12-08 14:40] effigies commented on #33
Looking into this a bit. We should check whether these FLAIRs are high enough resolution:

[code]

Also posted to the linked Neurostars issue. It's possible we just forgot about this constraint and that's the root cause.

[2019-12-09 15:58] rwblair commented on #147
I believe this is because the github link package is not listed in the docs requirements, and its code only exists on the branch in the PR. sphinx-versioning checks out other branches from the github remote and uses the PR branch's conf.py.

[2019-12-09 16:12] oesteban commented on #147
Yup, that is what I thought. Shouldn't it just skip old branches because they are already generated?

[2019-12-09 16:14] oesteban commented on #147
Ugh, I don't know whether it would fail with old tags, but I can see it is failing for master.

Should we not generate master in the build?

[2019-12-12 15:12] oesteban commented on #147
It might be just as easy as using ``__file__`` as reference when adding the ``sphinxext`` folder to ``sys.path``.

[2019-12-12 17:05] oesteban commented on #147
Fixed via c6371b5ffdb3cb7a7ded0a8935036597f0f3f60d

[2019-12-12 17:05] #147 closed

[2019-12-12 17:23] rwblair commented on #147
I'm confused what was the path that ended up getting added with dirname as opposed to abspath?

[2019-12-12 17:44] oesteban opened #150 "CircleCI: Do not deploy to pypi if ``build_docs`` fails"
That way we could avoid situations like 0.4.1 where documentation is not built.

[2019-12-19 19:00] oesteban opened #152 "Calculate Euler numbers and place them in the sidecar json of surfaces."

[2019-12-22 01:15] dangom opened #153 "On the feasibility of replacing N4BiasFieldCorrection with SPM Segment"
Hi guys,

I've noticed anecdotally (though [I've heard this from others as well](https://layerfmri.com/2017/12/21/bias-field-correction/)) that for better FreeSurfer surface reconstruction, the choice of bias field correction makes a huge difference. In this regard, the SPM bias field correction tends to perform much better than the N4 algorithm.

In order to use the SPM bias field correction and

[2020-01-17 19:24] effigies opened #154 "aparc/aseg do not appear to be adjusted for any fsnative2t1w differences"
Looking through the aparc/aseg code, it appears that we assume the T1.mgz and T1w.nii.gz files are already in register:

https://github.com/poldracklab/smriprep/blob/a080cb946795bd77932217ab2392231126a57be0/smriprep/workflows/surfaces.py#L512-L541

I don't see anywhere else in the code where we account for differences when they are not.

[2020-01-22 20:34] effigies opened #160 "FoV check revisited"
Our current FoV check is only on shape, but we need to take zooms into account.

[code]

Follow-up to #29, #36.

Ref: https://neurostars.org/t/fmriprep-1-5-5-fails-on-freesurfer-call-error-fov-282-000-256/5836

[2020-01-22 22:31] #160 closed

[2020-01-29 16:59] #150 closed

[2020-02-05 18:23] oesteban commented on #131
Covered with #159 and #163

[2020-02-05 18:23] #131 closed

[2020-02-10 17:36] #87 closed

[2020-02-10 19:55] utooley commented on #104
I've been watching the issues/PRs about this since asking about it on [Neurostars](https://neurostars.org/t/replicable-scripts-bids-and-curating-data/2623) a long time ago, and was currently going to stick with simply adding the anatomicals that I don't want to use to the `.bidsignore` (as opposed to removing them entirely), in line with the suggestion by @emdupre on the fmriprep PR. I think this

[2020-02-10 21:20] effigies commented on #104
Adding things to `.bidsignore` only affects the validator, not pybids or fMRIPrep.

I think the selection PRs are nearly there... I can try to have a look this week.

[2020-02-10 21:44] emdupre commented on #104
Sorry @effigies: Is that an expected situation ? I didn't think so based on discussion in https://github.com/bids-standard/bids-specification/issues/131 and https://github.com/bids-standard/pybids/issues/378. Or is this something particular to *MRIPrep ?

[2020-02-10 22:47] effigies commented on #104
It's what I expect... I can read through those threads to see if there was an alternative consensus, though. Not likely to be tonight.

[2020-02-11 14:09] effigies commented on #104
There doesn't seem to be a clear consensus that came out, but I can't pin down a population vector of any magnitude.

I think one problem we'll face in fMRIPrep is that "ignore" is a blunt instrument and it's encoded in the dataset, not in the execution inputs. I may have two perfectly BIDS-valid T1w images but only want to pass one to fMRIPrep. `.bidsignore` feels like the wrong way to handle tha

[2020-02-15 01:07] oesteban opened #168 "Transferring to nipreps organization"
After experiencing how easy it has been transferring SDCFlows, should I go for this one?

[2020-02-15 01:12] effigies commented on #168
Same as https://github.com/poldracklab/niworkflows/issues/462#issuecomment-586537021:

[2020-02-20 18:20] #12 closed

[2020-03-08 01:17] oesteban opened #170 "Replace FSL FAST with FreeSurfer's aseg for recon-all pipeline"
For two reasons:
- Economy (no need to run a simpler, extra methodology when a better segmentation is available)
- Run-to-run reproducibility (because FreeSurfer's aseg is less sensitive to isolated pixels that may vary on the brain mask run-to-run, plus the easy reuse of the FS folder)

[2020-03-12 14:50] effigies opened #197 "Retain session information for data that does not combine multiple sessions"
If a dataset uses sessions but only one session gets used, we remove it from anatomical and reporting outputs. This has worked because multi-session data was always combined, but now that we have poldracklab/fmriprep#1770, users can request that only a single session be processed.

Given this, the ideal case would be for `ses-<label>` not to be removed from entities unless the derivative combines

[2020-03-18 06:24] oesteban opened #171 "Use nitransforms for LTA-ITK conversions"
Replacing this: https://github.com/poldracklab/smriprep/blob/b5b74ad2dbd54284f36ca843829ec38014637c2a/smriprep/workflows/outputs.py#L237-L239

(will require poldracklab/nitransforms#64)

[2020-03-24 01:00] jelee2498 commented on #124
How did you solve the error?

[2020-03-28 14:55] effigies opened #172 "Dependency tracking"
This issue is intended to allow easy reference for the dependencies within the nipreps family of projects.

sMRIPrep requires niworkflows and generally must depend on one minor series of niworkflows for the duration of an sMRIPrep minor series. Each sMRIPrep series may also be depended on for an fMRIPrep series and/or a dMRIPrep series. Noting these dependencies here should make it easier to track

[2020-04-02 18:20] oesteban commented on #172
Maybe we should add this table under the documentation for developers? That will make it easier to modify and review, rather than editing an issue - DYT?

[2020-04-02 18:20] oesteban commented on #172
Or under www.nipreps.org, I'd be happy with that.

[2020-04-02 18:22] effigies commented on #172
Those are fine, as long as it's easy to find. Pinned issues have worked fine for me in the past, but I'm not overly attached to them.

[2020-04-04 00:07] #105 closed

[2020-04-15 22:19] oesteban opened #176 "Mishandling of outputs: dseg segmentation derivative different from workflow"
In the context of integrating #107 with *fMRIPrep*, I've found that the labels of the `_dseg` volume we are writing out into the derivatives folder are BIDS-compliant, but they are not (as they come from FSL FAST) for the output node of the anatomical workflow.

*fMRIPrep* expects 3 to be the white-matter label (i.e., non-BIDS) as it receives the dseg from the outputnode.

We are beefing up the ma

[2020-04-16 15:56] #176 closed

[2020-04-17 17:26] oesteban opened #178 "Inconsistent ordering of tissue maps botches fast-tracked operation"
The ordering of tissues here (imposed by the output of FSL FAST, in this case):

https://github.com/poldracklab/smriprep/blob/076bda9f34e27a3d359fb2f2577d0953d57e3cc6/smriprep/workflows/outputs.py#L168

And here:

https://github.com/poldracklab/smriprep/blob/076bda9f34e27a3d359fb2f2577d0953d57e3cc6/smriprep/data/io_spec.json#L20

should be matched, otherwise, the tissues will be wrongly assigned b

[2020-04-17 23:13] #178 closed

[2020-04-20 00:34] #170 closed

[2020-04-20 17:15] oesteban commented on #43
Perhaps the implementation of the canary should go here in sMRIPrep, but then imported from fMRIPrep to actually run it.

[2020-04-30 14:31] #43 closed

[2020-04-30 20:57] effigies opened #184 "FreeSurfer 7"
FreeSurfer 7 has been [released](https://surfer.nmr.mgh.harvard.edu/fswiki/ReleaseNotes).

Post-LTS would be a good time to start seeing what accommodations need to be made.

TODO:

* [x] Update nipype recon-all interface to handle any changes to the expected outputs per-stage
* [x] Check the coarse parallelization workflow for validity
* [x] Validate downstream usage of FreeSurfer products is sti

[2020-04-30 22:19] oesteban commented on #184
Both Interesting!

[2020-05-04 07:01] fliem commented on #70
Hi @effigies
I am getting the same message with different t1w resolutions between sessions. `t1w_merge` is stumbling over

[code]

in the [Conform interface](https://github.com/nipreps/niworkflows/blob/736306b40e14b4866166c6877fbf598ef6436c6b/niworkflows/interfaces/images.py#L279), the image is not rescaled or resampled because of the atol of  0.01 mm. What's the reasoning behind this tolerance?
T

[2020-05-04 11:26] effigies commented on #70
The reasoning was that for very small changes in voxel sizes, resampling actually induced distortion, so a minimum difference was needed.

I'm surprised that FreeSurfer considers this a sufficiently large difference. I would say that either we should check their source code and match our tolerances, or you could pre-resample. For a .001 mm change, simply resetting the pixdims without resampling se

[2020-05-05 05:05] fliem opened #185 "Bringing T1w image into template space"
Hello.
I have a multi-session study and am trying to bring a T1w image into template space using `antsApplyTransforms` with
`sub-{subject}/ses-{session}/anat/*_T1w_space-orig_target-T1w_affine.txt`

However, the resulting image is completely flipped around (orientation labels are off) and cropped. The T1w is LAS oriented, but bringing it to RAS first didn't do anything?

Do you have any advise how

[2020-05-05 05:16] fliem commented on #70
What do you think about adding this here, i.e.:
[code]

[2020-05-05 19:39] effigies commented on #185
Hmm. What are the qform and sform of the original and the target? And can you find the LTA files in `fmriprep_wf/single_subject_{subject}_wf/anat_preproc_wf/anat_template_wf/t1w_merge`?

And just to check, what version of fMRIPrep are you using?

[2020-05-07 23:30] oesteban commented on #4
Was this ever addressed/documented? Thanks for your patience.

[2020-05-07 23:31] oesteban commented on #104
Has the ``--bids-filters`` flag resolved this issue indirectly?

[2020-05-07 23:32] bpinsard commented on #104
yes!

[2020-05-07 23:32] #104 closed

[2020-05-08 00:03] oesteban commented on #60
Follow up on nipreps/niworkflows#515

[2020-05-08 00:03] #60 closed

[2020-05-08 16:41] oesteban commented on #7
Follow up on the new issue referenced above.

[2020-05-08 16:41] #7 closed

[2020-05-08 16:45] oesteban commented on #5
The original thread at neurostars appears as solved now. Even though we didn't directly address this, it seems the prevalence of this problem is low enough to close the issue. I also wonder how much FS7 has improved in this regard.

If anyone experiences this problem again, please reopen.

[2020-05-08 16:45] #5 closed

[2020-05-08 16:46] oesteban commented on #4
I'll close this and welcome anyone who reopens it because it wasn't correctly addressed.

[2020-05-08 16:46] #4 closed

[2020-05-08 16:47] effigies commented on #4
This isn't done, as it's about using longitudinal FreeSurfer. #21 should cover that.

[2020-05-08 16:49] oesteban commented on #4
Let's then redirect everyone to the longitudinal FS issue you linked.

[2020-05-08 17:04] oesteban commented on #8
Using custom templates is now possible via TemplateFlow. Because this thread is very valuable, I have referenced it from [TemplateFlow's documentation](https://www.templateflow.org/client/#custom-study-population-specific-templates)

[2020-05-08 17:04] #8 closed

[2020-05-08 17:20] oesteban commented on #109
Option 4 is now implemented via #180.

I leave this open, and edit the title to be explicit about option 1.

[2020-05-08 20:41] oesteban commented on #125
At least for the first case, the problem stems from a poor Atropos segmentation (ref. #109, as we will need to check Atropos' segmentation before forwarding it).

WM (necessary for the subsequent N4 step) is label 3 (the red spots):

<img width="381" alt="Screen Shot 2020-05-08 at 1 39 14 PM" src="https://user-images.githubusercontent.com/598470/81447471-86d8c680-9131-11ea-973b-7d0a5f60deb1.png">

[2020-05-12 01:20] mgxd opened #186 "Fix potential import clash"
[code]

this seems hazardous given `smriprep.interfaces.freesurfer` exists..

_Originally posted by @mgxd in https://github.com/poldracklab/fmriprep/pull/2124#issuecomment-627049490_

[2020-05-12 01:45] effigies commented on #186
I would say we should remove the "compatibility" imports from niworkflows. Who depends on them?

[2020-05-13 08:01] fliem commented on #185
Thanks @effigies.
It was an old version and I have rerun it with smriprep:0.6.0rc4. The general orientation now seems ok.

However, the warped orig files still don't nicely line up with the template -- some transformation happens in the right direction, but not enough (`antsApplyTransforms -d 3 -i ${t1} -r ${tpl} -o warped.nii.gz -t ${xfm}`).

### Template
[code]

### orig
[code]

### warped orig

[2020-05-13 09:06] effigies commented on #185
Can you try mri_vol2vol with the LTA? If FreeSurfer can't use the file it produces, then the problem lies upstream. If it can, we can try fixing the LTA-ITK conversion.

[2020-05-13 09:58] fliem commented on #185
Thanks for the suggestion. `mri_vol2vol` works as expected (`mri_vol2vol --mov $t1 --targ $tpl --o warpped_vol2vol.nii.gz --lta $lta`). The warped orig and the template perfectly align.

[2020-05-13 10:41] effigies commented on #185
Okay. So it's likely that `lta_convert` doesn't produce the correct ITK-formatted affine. This would probably be a good test for nitransforms. Could you test whether the following produces a good ITK transform?

[code]

[code]

cc @oesteban

[2020-05-13 11:06] fliem commented on #185
The nitransforms xfm works! The transformed orig img now lines up perfectly with the template.

[code]

[2020-05-13 12:34] effigies commented on #185
Awesome. Then we can just replace `lta_convert` with `nitransforms` in the next release.

[2020-05-13 16:53] oesteban commented on #185
The only remaining holdup for `nitransforms` to become the standard tool here is the `MultiLabel` interpolation-type of `antsApplyTransforms`. But sure, let's start with replacing all `lta_convert` nodes.

[2020-05-15 17:57] #186 closed

[2020-05-19 15:28] oesteban opened #189 "Two inline functions (with fMRIPrep)"
Here https://github.com/poldracklab/smriprep/commit/65e75f31c3e3d81ea14118ac031a3455e7d1bf93#diff-816eb5ff17b071ecf371cf48577d5a3cR426 I introduced this inline function which conflicts with another inline function in fMRIPrep.

[code]

To preempt this from happening again, let's add to the coding standards guide that it is not allowed to connect outputnodes with attached inline functions on the co

[2020-05-20 18:41] #189 closed

[2020-05-21 05:50] oesteban commented on #154
Isn't `Label2Vol` accounting for that? - as per the second example in https://surfer.nmr.mgh.harvard.edu/fswiki/FsAnat-to-NativeAnat

That's encoded with the `reg_header` input, right?

https://github.com/poldracklab/smriprep/blob/a080cb946795bd77932217ab2392231126a57be0/smriprep/workflows/surfaces.py#L536-L537

[2020-05-21 17:50] oesteban commented on #154
Another reason/way to think about this is that the fsnative-t1w transform should only contain a translation (if any deviation from identity) when given in RAS2RAS.

It is not identity in VOX2VOX, because it is precisely trying to prescribe how the sampling translates between both data domains (original and conformed spaces).

[2020-05-21 23:26] oesteban opened #191 "Multisession outputs seem off after DerivativesDataSink refactor"
After processing ds114 I only have outputs for one session, where I think I'd expect the outputs not to have any session except for the timepoint-to-template transforms. Is that expectation okay?

/cc @effigies

[2020-05-21 23:34] oesteban commented on #191
This is the output, with ``--output-spaces MNI152NLin2009cAsym fsaverage:den-10k fsaverage6``:
[code]

Digging deeper, I realized that we are getting this familiar error that explains the missing `from/to-orig` files:

[code]

I will send a fix to #188 shortly.

But the question of dropping the session is still there.

[2020-05-21 23:45] oesteban opened #192 "Cache of ``anat_preproc_wf.anat_template_wf.t1w_reorient`` always outdated"
For some obscure reason, the `t1w_merge/sub-01_ses-<one_session>_T1w_template.nii.gz` file may change its hash (although, the `t1w_merge` node appears to be correctly cached).

Link to source:
https://github.com/poldracklab/smriprep/blob/d6c0da6f61fa926a7827d593c687364fa910b9dd/smriprep/workflows/anatomical.py#L582-L592

[2020-05-22 01:19] oesteban commented on #185
@fliem do you have any means to test whether #188 indeed fixes your issue?

[2020-05-22 05:57] #191 closed

[2020-05-22 13:51] #185 closed

[2020-05-22 13:51] #171 closed

[2020-05-25 12:27] fliem commented on #185
@oesteban I have two T1w runs per session, but using `poldracklab/smriprep:0.6.0` the resulting xfm file lost the run label (hence, I only have one xfm per session: `smriprep/sub-{subject}/ses-{session}/anat/sub-{subject}_ses-{session}_from-orig_to-T1w_mode-image_xfm.txt`)

[2020-05-26 16:55] mgxd opened #195 "Consider removing extra resampling"
https://github.com/poldracklab/smriprep/blob/2ccfaaf582e0c948940e1505301942f89408460f/smriprep/workflows/surfaces.py#L518-L519

`tonative` should already produce a `nii.gz` file.

[2020-05-26 17:55] oesteban commented on #195
I agree with this, but it won't fix poldracklab/fmriprep#2142 - the problematic file seems to be on standard space `'GLS005_ses-2_task-graphlocalizer_space-MNI152NLin2009cAsym_desc-aparcaseg_dseg.nii.gz'`, meaning that it is resampled with `antsApplyTransforms` later in the stream.

[2020-05-27 20:21] oesteban commented on #192
This seems like a false alarm. Will reopen if I experience this again.

[2020-05-27 20:21] #192 closed

[2020-05-27 23:05] oesteban commented on #197
Just to note this down: this kind of amends #193

[2020-05-27 23:23] oesteban commented on #70
@fliem - do you think viable putting together a PR for this?

[2020-05-28 11:03] fliem commented on #70
@oesteban will do

[2020-05-28 12:23] effigies commented on #70
Cool, thanks. Sorry about dropping this. I was drafting something to see if FreeSurfer wanted to relax their tolerances instead, and then my schedule filled up.

[2020-05-28 15:28] oesteban commented on #20
Seems like the tweet that originated this is down. However, I found this other visualization

<img src="https://pysurfer.github.io/_images/sphx_glr_plot_freesurfer_normalization_001.png" />

[here](https://pysurfer.github.io/auto_examples/plot_freesurfer_normalization.html#sphx-glr-auto-examples-plot-freesurfer-normalization-py)

[2020-05-28 15:31] oesteban commented on #168
Postponed to right after 20.2

[2020-05-28 15:32] mgxd commented on #20
+1 to adding some surface visualization to the reports, especially after poldracklab/fmriprep#2145

[2020-05-28 15:39] effigies commented on #20
Should consider whether to use flattened surfaces or multiple angles for surface-based visualization.

For BOLD, I would think showing the boldref resampled to the surface right after the BOLD-T1w registration (with surface contours) might make it easier to see whether the alignment makes sense. e.g., if I see a lot of dark around the temporal pole, I can look up and see drop out in the volume.

[2020-05-29 04:31] oesteban commented on #172
The dependency matrix has been moved to https://www.nipreps.org/devs/versions/, to edit/suggest changes, please send a PR against the `mkdocs` branch (default) of https://github.com/nipreps/nipreps.github.io/blob/mkdocs/docs/devs/versions.md

This is part of the general strategy of setting up NiPreps as a community and platform for the development of these preprocessing BIDS-Apps.

[2020-05-29 04:31] #172 closed

[2020-05-29 13:55] hensel-f opened #198 "Return code: 251, voxel size is different, first make conform"
I'm trying to use `smriprep` to process a BIDS-directory containing (in this minimal working example) two MRI-images of a single subject.
However, the following command:

[code]

stops with the following error message:

[code]

The header files of the two `.nii.gz` files in the BIDS-directory are as follows:

[code]

and:

[code]

I tried adding the following options without success:
[code]
Even t

[2020-05-29 16:47] effigies commented on #198
This is a duplicate of #70. Please follow up there.

[2020-05-29 16:47] #198 closed

[2020-06-03 14:58] fliem opened #199 "run label missing from `_from-orig_to-T1w_mode-image_xfm.txt`"
Related to #185
Issue due to #188
 I have two T1w runs per session, but using `poldracklab/smriprep:0.6.0` the resulting xfm file lost the run label (hence, I only have one xfm per session: `smriprep/sub-{subject}/ses-{session}/anat/sub-{subject}_ses-{session}_from-orig_to-T1w_mode-image_xfm.txt`)

[2020-06-03 15:01] effigies commented on #199
Good catch. I think all of our test cases have been 1 T1w per session.

Fixing this will fix incorrect derivatives while leaving working derivatives alone, so this can be done as a bug-fix.

[2020-06-05 17:18] effigies commented on #154
I'm currently running sMRIPrep on ds000114 with the following approach:

[code]

FreeSurfer will create T1.mgz by aligning retest to test, fMRIPrep wil create T1w.nii.gz by aligning test to retest. This should create a non-identity `fsnative2t1w_xfm`, and allow us to verify whether there is an issue before attempting a fix, and a test bed for verifying a fix.

[2020-06-05 17:28] oesteban commented on #154
Awesome, thanks for taking over - very much appreciated.

[2020-06-05 17:46] effigies opened #200 "Brainmask incorrectly applied to externally-initiated FreeSurfer"
While working on #154, I skipped the FreeSurfer skull-strip in favor of ours.

![Screenshot from 2020-06-05 13-43-35](https://user-images.githubusercontent.com/83442/83907001-96e4c580-a732-11ea-842a-6c81e5334cd4.png)

It looks like our brainmask injection assumes that the T1.mgz and T1w.nii.gz are in register. The t1w2fsnative_xfm is not used for this step:

https://github.com/poldracklab/smriprep

[2020-06-06 02:18] effigies commented on #154
It looks like everything is completely shot if your T1w.nii.gz is out of alignment with your T1.mgz. Everything is aligned to T1.mgz, and not the fMRIPrep outputs. This is the brain mask:

![bad_mask](https://user-images.githubusercontent.com/83442/83933871-66287e80-a77a-11ea-8321-8d9be40e97a9.png)

[2020-06-07 01:11] effigies commented on #154
The brain mask goes from good in the `brain_extraction_wf` to bad in `refine`, which takes its input from `aseg_to_native_wf.tonii`:

https://github.com/poldracklab/smriprep/blob/d8fe13da52690b7cf2edd71f6ec38c4d660bd405/smriprep/workflows/surfaces.py#L191

https://github.com/poldracklab/smriprep/blob/d8fe13da52690b7cf2edd71f6ec38c4d660bd405/smriprep/workflows/surfaces.py#L228-L238

So it should on

[2020-06-07 02:17] effigies commented on #154
Also, good news: This bug shows up clearly in reports, so we shouldn't have hidden failures.
![bad_seg](https://user-images.githubusercontent.com/83442/83958744-5f197300-a843-11ea-9677-8edf8d08d980.png)

[2020-06-07 02:21] effigies opened #202 "Restore templates to docker image"
With the templates removed from docker #157, testing fixes with a reused working directory takes a long time, since the templates have to be redownloaded every time.

@oesteban Has recent work in templateflow changed the balance pros and cons discussed in https://github.com/poldracklab/smriprep/pull/157#discussion_r368208279?

[2020-06-07 06:44] oesteban opened #203 "New FS canary broke master"
See #201 broken builds:

https://app.circleci.com/pipelines/github/poldracklab/smriprep/599/workflows/4e52113a-01ac-4d2a-938a-a85d9bb1ad77/jobs/3457/steps
https://app.circleci.com/pipelines/github/poldracklab/smriprep/599/workflows/4e52113a-01ac-4d2a-938a-a85d9bb1ad77/jobs/3455/steps

[2020-06-07 17:19] effigies commented on #195
Fixed in #201.

[2020-06-07 17:19] #195 closed

[2020-06-07 20:02] #154 closed

[2020-06-08 16:11] #203 closed

[2020-06-08 16:34] oesteban commented on #199
@fliem, would it be easy for you to test the new niworkflows branch? How do you usually run smriprep?

[2020-06-08 20:49] mgxd commented on #152
@oesteban what did you mean by

[2020-06-08 21:46] oesteban commented on #152
That we could write out the euler number as part of the json corresponding to the `surf.gii` outputs.

[2020-06-08 21:54] mgxd commented on #152
Do those JSONs currently exist? I'm not seeing them in my `fmriprep/` outputs...

[2020-06-08 22:01] oesteban commented on #152
Nope, but adding the metadata to the DataSink (perhaps you need to declare the JSON key in the interface initialization) will automatically generate the sidecars.

[2020-06-08 22:02] oesteban commented on #152
Example:

https://github.com/poldracklab/smriprep/blob/8535ce9e568a603ddfee2080269d4403ca1fec8a/smriprep/workflows/outputs.py#L201

[2020-06-08 23:06] #199 closed

[2020-06-09 12:34] fliem commented on #199
@oesteban I can confirm that this works as expected.

[2020-06-09 23:50] #70 closed

[2020-06-10 03:26] kjamison opened #209 "Option to remove "-it" from docker command, to avoid TTY error in non-interactive shell?"
I'm running smriprep-docker in a google cloud environment using automatic startup scripts, and found that it was exiting with the error "The input device is not a TTY".  If I have my startup script explicitly pull poldracklab/smriprep:0.6.1 and then run the "docker run" command smriprep-docker was trying to execute, but without the "-it", it all works fine.

I like the flexibility of the wrapper,

[2020-06-11 15:51] oesteban commented on #168
Okay, this is done. I have `find . -type f -exec sed -i 's+poldracklab/smriprep+nipreps/smriprep+g' {} \;` on `master`, but I don't know whether we should backport this kind of changes to actively maintained branches. Please open issues if some further changes related to this move are necessary.

[2020-06-11 15:51] #168 closed

[2020-06-11 16:31] #142 closed

[2020-06-11 17:25] oesteban commented on #125
Because this one will rely on nipreps/niworkflows#506, I'm not marking this as a bugfix to the maintenance of old series.

[2020-06-11 17:53] oesteban opened #210 "BIDS-Derivatives Compliance revision"
Make sure all generated derivatives follow BIDS-Derivatives.

Related: #197.

[2020-06-12 16:50] oesteban commented on #202
Sorry, I've been meaning to reply to this for a long while.

This should not be the case. I'm afraid what could be happening is that the automatic templateflow update comes with `overwrite=True`, and therefore the templateflow home is wiped out always. In other words, even re-including the templates in the docker image this problem will persist.

The short-term solution is running the docker conta

[2020-06-12 23:18] oesteban opened #211 "Fast-track not finding all expectations with ``--cifti-output``"
I believe the problem comes from the "hidden" MNI152NLin6Asym space.

[2020-06-13 05:49] oesteban opened #212 "Forward FAST's PVE maps instead of posteriors"
As in the original implementation of aCompCor (ref: poldracklab/fmriprep#2129)

[2020-06-14 15:04] #212 closed

[2020-06-23 15:35] bpinsard commented on #211
If seems that if `--anat-only` was ran with `--cifti-output` or  with `--output-spaces MNI152NLin6Asym ...`  then the necessary files for anat fast-track with `--cifti-output` are present, right?

[2020-06-23 16:01] oesteban commented on #211
I haven't actually checked myself. If you could confirm that, it would be a good step forward.

[2020-06-23 19:12] bpinsard commented on #211
It seems to be the working.

[2020-06-23 20:49] #41 closed

[2020-06-23 21:11] mgxd commented on #209
sounds like a good idea, @kjamison, perhaps as a `--noninteractive` or `--no-tty` flag? would you be up for submitting a PR with this new addition?

[2020-07-03 07:13] effigies opened #217 "Use recon-all -rng-seed to reduce run-to-run variability"
[code]

[2020-07-03 20:40] effigies commented on #217
@mih Rereading, looks like there's always a random seed set (by default 1234).

[Here](https://github.com/freesurfer/freesurfer/blob/v6.0.0/scripts/recon-all#L152-L161):

[code]

Only way to turn it off is [with `-randomness`](https://github.com/freesurfer/freesurfer/blob/2beb96c6099d96508246c14a24136863124566a3/scripts/recon-all#L6959-L6961), which we don't do:

[code]

So we're as stable as Free

[2020-07-03 20:40] #217 closed

[2020-08-11 08:34] oesteban opened #221 "Report generation workflow fails when setting a cohort"
While testing https://github.com/nipreps/smriprep/pull/219#issuecomment-671808133 :

[code]

[2020-08-11 10:32] oesteban opened #222 "Support writing transforms when asked for normalization to two or more cohorts (same template)"
Currently, when writing the `to-` and `from-` fields of transforms, the cohort bit is dropped. However, the cohort is fundamental part to univocally point to one particular template.

[2020-08-11 12:15] #210 closed

[2020-08-11 15:21] oesteban opened #224 "Check continuity of fast-track, esp. multi-session datasets and w/cohort normalization"
#219 and #223 will likely break some parts of the anatomical fast track. Let's make sure it works before cutting 0.7.

[2020-08-11 16:08] oesteban commented on #202
Hey @mgxd, could you check on the [multi-staged builds](https://docs.docker.com/develop/develop-images/multistage-build/) and give us a blitz in the next IT meeting?

[2020-08-11 16:11] #221 closed

[2020-08-11 16:11] #222 closed

[2020-08-13 13:21] #197 closed

[2020-08-20 16:07] oesteban commented on #152
This is the paper where Euler numbers are proposed - https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5856621/

[2020-08-20 17:18] effigies commented on #152
Thanks @oesteban. Reading through the paper, it is definitely unclear, but the following makes it seem likely that it is parsed, rather than recalculated:

It's definitely there to be parsed:

[code]

Also, to belabor the point:

[code]

There is a lot of room for information indicative of image quality in `?h.orig.nofix`. By topological correction, only the most catastrophically bad data could av

[2020-08-21 18:09] effigies opened #226 "More forgiving FreeSurfer check"
Currently, we use Nipype's full recon-all interface to detect whether FreeSurfer has been fully run, and also to finish the run if it has not.

This has complications when using FreeSurfer subjects reconstructed with different versions, as well as FastSurfer. Instead, it may make sense to directly detect the outputs we need, and only construct the recon-all workflow if they are not all available.

[2020-09-17 17:00] oesteban commented on #125
For ds005/sub-08, this revision of the workflow actually made ATROPOS work better, and find a decent segmentation.

ds051/sub-06 is a case with hyper-intense vessels that still confuse ATROPOS (even with the better INU correction). However, with the multiplication of the WM posterior from ATROPOS with the WM prior from the template, the INU correction is not so horrible after all:

![Screen Shot 2

[2020-09-17 17:04] oesteban commented on #125
This is to say that I would keep working on PR to get it to work on ds005/sub-08 (meaning, the ATROPOS segmentation should not look like above - https://github.com/nipreps/smriprep/issues/125#issuecomment-626011343), and then address ds051/sub-06 on a different PR, including the idea of estimating the overlap of the different posteriors from ATROPOS and the WM prior from the template

[2020-09-17 17:07] oesteban commented on #125
Sorry for the multiple posting - the reportlet from ds051/sub-06 just came out:

![Screen Shot 2020-09-17 at 7 05 27 PM](https://user-images.githubusercontent.com/598470/93503828-ea150980-f918-11ea-8844-fbd2fab72a56.png)

It indeed seems fixed (although the ATROPOS refinement did not).

Please let me know if you agree with the proposed plan:

1 - finish this PR (address comments, test on more data

[2020-09-17 17:19] mgxd commented on #125
a definite improvement, though not the best brain mask. plan sounds good to me 👍

[2020-09-23 07:46] #125 closed

[2020-09-29 12:20] effigies opened #229 "Skull-stripping failure on Quickshear-defaced images?"
### What version of fMRIPrep are you using?

20.2.0rc0

### What kind of installation are you using? Containers (Singularity, Docker), or "bare-metal"?

TACC run

### Details

@jbwexler reported that ds001105 gets stuck on `brain_extraction_wf.init_aff` for all subjects. Here is an example T1w:

https://openneuro.org/datasets/ds001105/file-display/sub-006:anat:sub-006_T1w.nii.gz

This is clearly a

[2020-10-19 19:34] #209 closed

[2020-10-25 01:48] nuKs commented on #224
Hello,

Fast-track seems to break with my dataset on smriprep 0.7 / fmriprep 20.2.0, notably due to bids' build_path not considering potential session/runs within the name.

I developed a dirty-hack which rely on BIDSLayout instead and works for me.

commit: https://github.com/nuKs/smriprep/commit/bd72f83975436cbc0a230570d77e3876a355c121
branch: https://github.com/nuKs/smriprep/commits/nuKs/fix-fa

[2020-10-26 14:52] nuKs commented on #224
The patch also fixes two anat within sessions. The use case appears to be different as for single session anat, no template has to be created, while 2 sessions are averaged. In both case, "run-" is kept.

Here are the outputs for anat derivatives (smriprep) of day2day dataset,

with single session:

[code]

double session:

[code]

[2020-10-29 17:17] mathias-sm opened #230 "Regression: `Brain mask and brain tissue segmentation of the T1w` worsened from 20.1.3 to 20.2.0-LTS"
### What version of fMRIPrep are you using?

Tested with all releases from 20.1.1 to 20.2.0-LTS

### What kind of installation are you using? Containers (Singularity, Docker), or "bare-metal"?

Singularity containers

### What is the exact command-line you used?
[code]
Where `<version>` ranged from 20.1.1 to 20.2.0 LTS including the release candidates

### Have you checked that your inputs are BID

[2020-10-29 17:18] chrisgorgo opened #231 "Refine ANTs brain mask with FreeSurfer"
Sometimes ANTs brainmasks fails
![image](https://cloud.githubusercontent.com/assets/238759/24636174/349e69c6-188d-11e7-9f81-6bfe0f3f51d9.png)
ds114 subject 01

However we can use the refined brainmask obtained from the FreeSurfer reconstruction (like here: https://github.com/BIDS-Apps/nipypelines/blob/master/run.py#L401)

[2020-10-29 17:18] #231 closed

[2020-10-29 17:25] mathias-sm commented on #230
Thanks for the information! My dataset contains five subjects so far. With 20.1.1 they all looked perfect (I'm not an expert but they were briefly looked at by a more experienced colleague who seemed to agree), while only one looks OK with 20.2.0-LTS. I have not tested intermediate versions on all subjects.
I can share all the defaced T1w if that helps — it changes nothing whether I deface or not,

[2020-10-29 17:45] oesteban commented on #230
The more the better, I could try to see why this iteration made brain extraction worse. And yes, please do not share faced data. :)

[2020-11-02 10:15] mathias-sm commented on #230
I just shared via email an archive with all 5 subjects' defaced anat. I'm going through the process of installing a bare-metal `smriprep` install to see if I can poke around and try to bisect the commits to find one that changed the behavior and get a better understanding of the workflow. I'll share what I find, but I suspect I'll make slow progress.

[2020-11-06 22:30] effigies opened #232 "Failures for skull-stripping heuristic"
Tracking issue for failures in the skull-stripping heuristic.

[2020-11-06 22:31] effigies commented on #232
ds000110 - sub-27

![](https://user-images.githubusercontent.com/20958589/98416493-2af1ea80-204d-11eb-8f84-ec9402270c1f.png)

Reported in https://github.com/nipreps/fmriprep/issues/2318#issuecomment-723308541

[2020-11-17 14:55] switt4 opened #236 "Skullstripped set to True in metadata, but associated images aren't skull stripped"
**Describe the bug**
For fMRIPrep versions >=1.5, the metadata in the .json sidecar for the `space-MNI152NLin2009cAsym_desc-preproc_T1w.nii.gz` image files indicates that `"SkullStripped": true`.  However, the associated images files are not skull stripped.

Further adding to the confusion, for fMRIPrep versions <=1.4, the `space-MNI152NLin2009cAsym_desc-preproc_T1w.nii.gz` image files were writte

[2020-11-17 21:31] effigies commented on #236
Thanks for moving this issue over here.

We're definitely setting `SkullStripped = True` here:

https://github.com/nipreps/smriprep/blob/881fe18f005177a9d6ff1bc4a26d0d0b39cd27a9/smriprep/workflows/outputs.py#L144-L148

Thinking about this, I'm inclined to agree that there's no real use to producing a T1w image in MNI space with warped non-brain anatomy.

@bpinsard @oesteban @mgxd Question: What is

[2020-11-18 08:25] oesteban commented on #236
Yup, if there's a reason I honestly don't remember it.

I guess for the LTS this should be marked `"SkullStripped": false`.

None on my side.

[2020-11-18 13:29] bpinsard commented on #236
I agree with all what have been said, fixing the json for the LTS seems to be the best fix.
I can make a PR for the next minor release.

[2020-11-18 13:31] effigies commented on #236
It happened with the release of sMRIPrep 0.4.0, which introduced outputnodes and poutputnodes, and renamed a lot of fields, so my guess is that it was just an error in the refactoring.

To check this out, I've forked a `maint/0.4.x` off from 6a556bcf16a33ea21ed4fdcb8b7335332af10654, which involved pulling in some CircleCI fixes from more recent releases. Once that's working, I'll make a string of

[2020-11-18 15:31] effigies commented on #236
Okay, looks like we're all updated. Here's the dependency table for which branches could be released:

| fMRIPrep series | sMRIPrep series |
|--|--|
| 1.5.x | 0.4.x |
| 20.0.x | 0.5.x |
| 20.1.x | 0.6.x |
| 20.2.x | 0.7.x |

TBH I'm not sure if it's worth going back past 20.2, but at least we'll be able to if there's call for it.

[2020-11-18 15:56] effigies commented on #236
0.7.1 released and merged into `master`. Next step is to figure out how to get the skullstripped image back and reset the metadata.

[2020-11-18 19:56] effigies commented on #236
Looks like what happened was we switched from passing the resampled data as generated by the normalization step (which is skull-stripped) to passing the original data and a set of transforms, and re-applying the resampling.

Our options are either to mask while we generate the derivatives or start piping the resampled images through again. I think it will be clearer to mask and resample and will o

[2020-11-23 18:13] ali3654 opened #238 "question about Spatial normalization with smriprep"
hello experts,

If I run smriprep with a docker for a subject as without a special option then the HTML report of this brain does not say anything about spatial normalization.

This is also not mentioned under Methods in the HTML report.

only when i run smriprep with docker again with the option --output-spaces MNI152NLin2009cAsym the HTML report of the brain shows that a spatial normalization ha

[2020-11-24 22:26] oesteban commented on #238
Correct. For the *sMRIPrep* *BIDS-App* the default is not running any spatial normalization unless they are explicitly requested with `--output-spaces`. *fMRIPrep* overrides this default behavior and *dMRIPrep* does not.

[2020-11-24 22:28] oesteban commented on #238
Can you provide a list of these files?

[2020-11-24 22:33] ali3654 commented on #238
yes ok thank you very much.
Then my question is over.
I can still send you my output but I think the output is all right because I worked with the option --output-spaces.

My output:

"""
dataset_description.json
logs
sub-OAS30204.html
sub-OAS30204
├── figures
│   ├── sub-OAS30204_desc-about_T1w.html
│   ├── sub-OAS30204_desc-summary_T1w.html
│   ├── sub-OAS30204_ses-d0020_desc-conform_T1w.html
│ 

[2020-12-01 15:35] ali3654 commented on #238
hello @oesteban,

there is no option that outputs only the normalized nifiti files ?
Because actually i only need the normalized nifti files.

[2020-12-02 14:20] oesteban commented on #238
Not at the moment. I think you can always set the output folder to be in `/tmp` or some other fast, transient storage and then have a final hook that copies only the files you really want to the final location.

However, the only upshot to this is saving storage. Any other aspect of the solution would count as a downside.

Instead, I'd mirror all fMRIPrep outputs to some cold, cheap storage locati

[2020-12-13 12:49] ali3654 commented on #238
ok then I know about it, thank you  👍

[2020-12-13 12:49] #238 closed

[2021-02-09 15:03] oesteban opened #242 "Pandoc has discontinued ``--filter citeproc``"

[2021-03-09 13:57] oesteban commented on #242
Fixed with e72eea5

[2021-03-09 13:57] #242 closed

[2021-03-09 13:58] oesteban opened #243 "Python packaging of docker wrapper not getting the right version"
Pypi receives 99.99.99.

[2021-03-09 15:11] Meryam1985 opened #244 "FileNotFoundError: [Errno 2] No such file or directory: 'mri_convert'"
IHello
 got the error:
File "/home/besma/.local/bin/smriprep", line 8, in <module>
    sys.exit(main())
  File "/home/besma/.local/lib/python3.8/site-packages/smriprep/cli/run.py", line 10, in main
    return build_opts(opts)
  File "/home/besma/.local/lib/python3.8/site-packages/smriprep/cli/run.py", line 182, in build_opts
    if not check_valid_fs_license():
  File "/home/besma/.local/lib/pytho

[2021-03-10 08:52] oesteban commented on #202
After the PR referenced above, I think the concerns raised in this issue have been addressed, and currently CircleCI is reusing TemplateFlow cached objects while respecting Nipype's cache. I'll close this for the time being, but feel free to reopen if you think this still needs to be considered.

[2021-03-10 08:55] oesteban commented on #13
I think this can easily be achieved with the generalizations to the T1w workflow we are introducing in NiBabies - WDYT @mgxd ?

[2021-03-10 08:56] #243 closed

[2021-03-10 08:57] oesteban commented on #244
Please reopen if the answer above did not resolve the issue.

[2021-03-10 08:57] #244 closed

[2021-03-10 08:59] oesteban commented on #232
@shashankbansal6 a very low-hanging fruit for the face detector is to retrain it with extracted/non-extracted brain images, and that would help fMRIPrep (and many other tools) immediately.

WDYT? (cc/ @effigies @poldrack)

[2021-03-10 09:03] oesteban commented on #25
With the advance of NiRodents and NiBabies I  think this particular issue would fall in a midpoint of generalization. As the main holdback is the addition of proper templates to templateflow, I'll close this issue and maybe reopen when the templates are up and the workflow still does not work for macaques.

[2021-03-10 09:03] #25 closed

[2021-03-10 09:10] oesteban commented on #22
I'm going to rescue this old issue. With babies and rodents it seems almost necessary to run some sort of anisotropic denoising like this and will indeed help a lot with spatial normalization and co-registrations down the line.

For adults, the value is perhaps minimized now that we get the WM/GM masks from FreeSurfer (and hence, they are very much piecewise-smooth), but there's not FreeSurfer for

[2021-03-10 09:13] oesteban commented on #17
This doesn't seem like a burning problem. Please reopen if resurfaces or we find the root problem of this.

[2021-03-10 09:13] #17 closed

[2021-03-10 09:14] oesteban commented on #18
@satra, is kwyk working on MP2RAGE?

[2021-03-10 09:24] oesteban commented on #31
I've been thinking of this and perhaps the solution requires a divide and conquer approach:

- sMRIPrep should be able to run in two modes: "template" (current) and "longitudinal" (each T1w is processed independently). The "longitudinal" mode could potentially also generate an extra "template" if necessary.
- Then, the problem arrives when applying this in fMRIPrep. For adults, I can only see extr

[2021-03-10 13:36] effigies commented on #22
I would only want to set it as a default if:

1) The runtime on already clean images is minimal.
2) The sharpness of physiological boundaries in already clean images is preserved.

Improvements for low CNR images should not come at the cost of high CNR. If we can't assure that, then I would say make it an option. Maybe we can compute the CNR and have a threshold for applying it by default.

[2021-03-10 13:39] effigies commented on #35
I don't think that is a duplicate. In this case there was a good mask, but it wasn't applied correctly in FreeSurfer. I think I remember us finding an issue with the T1w-fsnative transform since this issue was created, so it would be worth re-running this subject and seeing if it's still valid.

[2021-03-10 14:46] mgxd commented on #22
It would be interesting to see the computational requirements of `DenoiseImage` across data with varying levels of noise. If it is fairly fixed, perhaps adding a `--denoise` option may be the best way to go. I agree with Chris's concerns, we should treat the majority, not the outliers, as first class citizens.

[2021-03-10 14:48] mgxd commented on #13
yup, that piece can be brought over to smriprep proper.

[2021-03-10 15:06] effigies commented on #22
Whatever tool we use, it would be good to make sure that it can be seeded for deterministic reproducibility, if it is not already deterministic.

[2021-03-12 16:36] Meryam1985 commented on #244
HELLO
Today I'm trying to run smriprep from docker. I got this error""'ERROR: a valid license file is required for FreeSurfer to run. '
RuntimeError: ERROR: a valid license file is required for FreeSurfer to run. sMRIPrep looked for an existing license file at several paths, in this order: 1) command line argument ``--fs-license-file``; 2) ``$FS_LICENSE`` environment variable; and 3) the ``$FREESU

[2021-03-12 16:50] oesteban commented on #244
Please copy and paste the exact command line you are running. Thanks

[2021-03-12 16:55] Meryam1985 commented on #244
Thank you very much for answering me
here is the command
smriprep-docker --fs-license-file Home / Downloads / license.txt / / Home / Desktop / test / sub-3416820 / / Home / Desktop / test / b / participant

[2021-03-12 17:10] Meryam1985 commented on #244
can you explain to me how to allow docker to access the Downloads directory ... maybe the problem is there.

[2021-03-12 17:15] mgxd commented on #244
@Meryam1985 can you move your license to `/ Home / Desktop / license.txt` and retry?

[2021-03-12 17:24] Meryam1985 commented on #244
I try....I have the same error.

[2021-03-12 18:04] effigies commented on #244
I'm assuming you're not actually having the spaces in the command? Also, if this needs further discussion, please open another issue rather than commenting in a closed issue. Otherwise it's likely to fall through the cracks.

[2021-03-18 21:53] julfou81 opened #254 "Wrong probseg fmriprep output from freesurfer pipeline"
Hi, I noticed that the output of the segmentation from the freesurfer pipeline vs the FLIRT pipeline produced different probseg files. Especially, the probseg files from Freesurfer pipeline stream are binarized and not looking nice at all.
probseg-GM produced through Freesurfer pipeline:
![T1w_probseg_GM_FS](https://user-images.githubusercontent.com/32452352/111701344-fc75ee80-883a-11eb-97d6-a9a89

[2021-03-19 17:41] Meryam1985 opened #247 "an empty recording file"

[2021-04-16 22:44] nuKs commented on #224
@oesteban what are your though on this? I could be missing something as well.

[2021-04-18 22:10] nuKs commented on #224
My patch seems to work, though not up to date with the fmriprep trunk (no config python file anymore etc).

I did not compare my patch output with traditional fmriprep non-fast track output so i am not 100% sure everything is fine.

I can integrate it with the latest version if you think it's OK.

[2021-04-26 07:47] oesteban commented on #224
Hi @nuKs - thanks for your patience, we are seriously limited in time lately - What would you need from us to push this forward? Just check out your branch and test on our settings?

Do you have examples that make the fast-track fail?

[2021-04-28 14:13] nuKs commented on #224
Hi, no worries, thanks for sharing your work!

What my patch does is to rely on pybids layout instead of bids build_path in order to retrieve the fast_track derivatives files.
Pybids layout does adapt to any bids-valid naming scheme, while build_path does not adapt to unexpected filename parts from retrieved derivatives file names, but rather directly assume the names).

So far, examples that make

[2021-05-07 13:17] #247 closed

[2021-05-28 09:23] jalmar opened #255 "Incorrect interpolation of discrete labels in the FreeSurfer anatomical segmentation"
This issue is in the anatomical processing pipeline of fmriprep.

### What version of fMRIPrep are you using?
20.2.1

### What kind of installation are you using? Containers (Singularity, Docker), or "bare-metal"?
Singularity container derived directly from Docker hub image

### What is the exact command-line you used?
N/A

### Have you checked that your inputs are BIDS valid?
Yes

### Did fMRIPre

[2021-06-04 13:34] #236 closed

[2021-06-14 17:04] effigies opened #251 "Resample morphometry into surface template spaces"
**Is your feature request related to a problem? Please describe.**

In [Neurostars #19517](https://neurostars.org/t/fmriprep-freesurfer-derivatives-in-fsaverage-space/19517), some users expected to find morphometry data resampled into template spaces. This should be doable with little difficulty.

We should collect a list of desirable derivatives.

[2021-06-14 18:30] dmoracze commented on #251
The issue that prompted my Neurostars post was that we expected to find the following files in template space, fsaverage6, in our case, because we specified `--output-spaces fsaverage6`

- lh.curve, rh.curv
- lh.sulc, rh.sulc
- lh.thickness, rh.thickness

Though I can see applications for the rest of the files in the surf directory, too.
If this feature will be implemented, I'd also like to make s

[2021-07-12 15:41] oesteban opened #252 "Crash because of unset `SUBJECTS_DIR`"
My environment has a default setting for SUBJECTS_DIR:

[code]

although it may be some installation error on my side, there's a chance that we are mishandling the environment variable.

Trying to run fMRIPrep on ds003011 (openneuro) crashes with:

[code]

Single-session datasets (e.g., ds030) crash later down the line:

[code]

[2021-07-12 15:59] oesteban commented on #252
Sorry about the noise - SUBJECTS_DIR was not defined as an environment variable, but rather as a bash variable. Apologies.

[2021-07-12 15:59] #252 closed

[2021-07-28 11:50] luckyxiaoqi opened #253 "What is the default template used by antsBrainExtraction.sh？"

[2021-07-28 17:18] effigies commented on #253
The OASIS30 atlas.

[2021-08-04 12:11] #253 closed

[2021-08-04 12:43] oesteban commented on #254
Okay, I'm assigning this to the upcoming new release, as new TPMs will drastically affect the results of aCompCor.

[2021-08-04 12:51] oesteban commented on #255
I agree this is related to #254 - but looks like a legitimate bug we should address. Changing the interpolation should not affect derived outputs (such as CompCor) dramatically.

[2021-08-10 14:19] ahoopes commented on #254
There's no direct way to generate gm/wm/csf tissue probabilities in FS, but you could add the `-write_probs <filename>` flag to `mri_ca_label` via the recon-all expert options. This saves the aseg posteriors, then you could do some post-processing on that to generate the tissue maps.

[2021-08-27 21:29] effigies opened #261 "TemplateFlow interface doctests fail"
**Describe the bug**
Test failure.

**Exact command line executed**
[code]

Result:

[code]

The doctest was introduced in db0396c02, part of #257.

Running PDB, we can see that these conflict:

https://github.com/nipreps/smriprep/blob/82d879319ab1c312ff763caeb4bb62bd550b386b/smriprep/interfaces/templateflow.py#L45-L47

https://github.com/nipreps/smriprep/blob/82d879319ab1c312ff763caeb4bb62bd550b3

[2021-08-29 15:44] effigies commented on #254
These are the histograms of the posteriors. Unclear how to get a tissue probability map from these. @ahoopes a little guidance would be appreciated.

![calabel_posterior0](https://user-images.githubusercontent.com/83442/131255678-b6d02a2c-85b5-4d54-b760-dea0b87e4acb.png)
![calabel_posterior1](https://user-images.githubusercontent.com/83442/131255679-e08dd73e-b2f2-423b-9662-c6f0ef2e8358.png)
![cala

[2021-08-30 15:30] mgxd commented on #254
Good point, may be the easiest solution for now..

[2021-08-30 15:41] oesteban commented on #254
The only reason is to minimize the use of commercially restricted FSL. But in the short term, it might actually be a decent solution.

An alternative to post-processing these posteriors and avoiding FSL (while being an acceptable solution with `--fs-no-reconall`) would be to use ATROPOS instead, and feed it with priors generated from either aseg (roughly what we already have, converting from aseg

[2021-08-30 16:15] effigies commented on #254
Sounds good. Then, in order not to block a 21.0.0 release, we will revert to FAST for now. Let's make an issue to further explore FreeSurfer/ANTs replacements for 21.1.

[2021-08-30 21:47] effigies commented on #261
This is still open, but currently managed by skipping the doctest.

[2021-08-31 11:53] #254 closed

[2021-09-01 07:53] oesteban opened #265 "indexed_gzip.indexed_gzip.CrcError: CRC/size validation failed - the GZIP data might be corrupt"
Source: https://neurostars.org/t/fmriprep-errors-recon-report-and-mri-coreg/20048

[code]

[2021-09-01 13:57] mgxd commented on #265
[code]

Looks like a potential problem with the brain mask

[2021-09-01 14:34] effigies commented on #265
For `MRICoregRPT`, `self._contour` is `mri/ribbon.mgz`. It looks like a corrupted FreeSurfer directory. Probably not much to do but rerun, but worth verifying that the data is corrupted first.

[2021-09-01 15:44] effigies commented on #265
I believe this was user error. Please reopen if you disagree. I'll open an issue with `indexed_gzip` to include the filename in its errors, if possible, to aid in debugging.

[2021-09-01 15:44] #265 closed

[2021-09-02 00:02] ahoopes commented on #254
Just looked at the code a bit. It's kind of a hidden feature, so there's no much (or any) documentation. The `-write_probs` flag saves a volume that includes only the top 3 label probabilities for each voxel. So, it's a 6-frame image where each frame represents (label-1, prob-1, label-2, prob-2, label-3, prob-3).

[2021-09-27 13:11] shz8012 opened #267 "Issue about segmentation result with data including lesion-mask"
Hi,

I had a dataset of stroke patients(T1w, fmri, lesion-mask) and tried to run fmriprep to get structural and functional results.
Lesion-mask image was placed and named correctly.

When I checked the images of segmentation (e.g.`/.../fmriprep/sub-FCS029/anat/sub-FCS029_label-GM_probseg.nii.gz`), I found that there were values in the voxels belonging to lesion-mask, as shown below (red is lesion-

[2021-09-27 13:14] effigies commented on #267
To answer the questions, we'll need to know the version of fMRIPrep you were using. Your full command and a listing of our input dataset would also be helpful.

The segmentation results will be either FAST or FreeSurfer derived, depending on your command and version. The lesion mask is only currently used in normalization. It seems sensible to also use it in skull-stripping and segmentation; if yo

[2021-09-27 14:09] shz8012 commented on #267
I am sorry about that.

Here is additional information:
- fmriprep version: 20.2.1(docker)
- command:
<pre> fmriprep-docker \
/data/disk1/test/ \
/data/disk1/test_output \
--participant-label sub-FCS029 \
--cifti-output 91k --fs-license-file /opt/software/freesurfer/license.txt \
--use-aroma --user $(id -u):$(id -g) </pre>
- input data:
![image](https://user-images.githubusercontent.com/49181295/1

[2021-10-29 02:20] skgtohn opened #269 "tutorial for smri"
**Please describe how the documentation should be improved.**
A clear and concise description of the underdocumented feature.
Hi!
I saw the nipype tutorial for fmri preprocessing (https://miykael.github.io/nipype_tutorial/).

Is there any tutorial video or document related to smri?

Thanks!

[2021-11-03 09:01] #269 closed

[2021-12-01 18:08] m-reuter commented on #226
Also double check what outputs you really need. For example the T1.mgz should not be needed for anything as it is an intermediate file. If you only need the header for mapping across FS conform space and the original input, then use e.g. orig.mgz instead.

[2021-12-03 20:52] BlackHoleExelion commented on #123
@eds-slim Hello, did you find a solution? I got exactly the same issue right now.

[2022-02-15 20:28] pcamach2 opened #278 "Incorporating FastSurfer to sMRIPrep as surface reconstruction option"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Addition of FastSurfer workflows as an alternative to FreeSurfer.

**Describe alternatives you've considered**
I have considered just running FastSurfer before running sMRIPrep or fMRIPrep and using the outputs as an existing Freesurfer output directory. This may work as discussed in #273 by

[2022-02-16 23:21] pcamach2 commented on #278
- [x] Complete runs of FastSurfer GPU in both the Docker and Singularity versions of this container
- [ ] Complete runs of sMRIPrep in both the Docker and Singularity versions of this container.
- [ ] Build into Nipype workflow

[2022-03-02 18:07] pcamach2 commented on #278
Any help with integrating this to Nipype would be very much appreciated!

[2022-03-09 16:49] effigies commented on #278
Hi @pcamach2, thanks for this!

To create a nipype interface for FastSurfer, we're going to need to know a few things:

1) What does a command-line look like? What inputs does it have, what options does it have?
2) Is there a notion of resuming, as there is in FreeSurfer? Do we need to include machinery to detect partially complete runs?

[2022-03-09 18:24] pcamach2 commented on #278
Hi @effigies, no problem!

Here is what I have so far:

Per the [basic FastSurfer container run instructions](https://github.com/Deep-MI/FastSurfer/tree/master/Docker#example-1-build-gpu-fastsurfer-container-default), the barebones docker run command is as follows for their Docker image:

[code]

From the [hybrid container that I built](https://github.com/pcamach2/smriprep/blob/master/Dockerfile),

[2022-03-30 17:53] effigies opened #279 "Update atime when copying FreeSurfer"
`shutil.copytree` uses `shutil.copy2`, which uses `shutil.copystat`. When we copy FreeSurfer `fsaverage*` directories, we are creating outputs that look as if they have not been accessed (atime) or modified (mtime) since whatever those are in the bundled FreeSurfer subjects. These may be what they are in the FreeSurfer distribution bundle.

The upshot is that on filesystems that do age-based sweep

[2022-04-21 20:29] pcamach2 commented on #278
@effigies, the fix of running `touch` on the `mri/aseg.auto_noCCseg.label_intensities.txt` file (https://github.com/Deep-MI/FastSurfer/issues/21#issuecomment-1103950005) resolves the error and allows sMRIPrep to complete.

I added a short python function to my fork of smriprep/smriprep/utils/misc.py (https://github.com/pcamach2/smriprep/blob/1377f4c629542ba8d3ab11f90b9c593ffa29b6cc/smriprep/utils/

[2022-04-24 00:01] pcamach2 commented on #278
I removed the `fastsurfer_bool` variable and added the `check_fastsurfer` function to anatomical.py (https://github.com/pcamach2/smriprep/blob/pcamach2-fastsurfer-patch/smriprep/workflows/anatomical.py), which successfully builds the anat workflow and touches the label_intensities file. This runs as expected, so the failure to complete when using FastSurfer outputs as --fs-subjects-dir appears to

[2022-04-26 20:42] pcamach2 commented on #278
@effigies, I am trying to connect the FastSurfer interface that I wrote and tested (https://github.com/pcamach2/smriprep/blob/pcamach2-fastsurfer-patch-dev/smriprep/interfaces/fastsurfer.py) into the overall sMRIPrep workflow.

I added the following argument to the cli (https://github.com/pcamach2/smriprep/blob/pcamach2-fastsurfer-patch-dev/smriprep/cli/run.py)
[code]

_I am wondering where best t

[2022-04-26 20:58] effigies commented on #278
@pcamach2 Could you go ahead and open a draft PR with your changes? I think it will make it easier to look through this. Unfortunately I'm out of time today, but I'll put you on my todo list for tomorrow.

[2022-05-20 13:32] effigies opened #284 "RFC: Do we want versioned docs? And do we want to maintain them ourselves?"
I can't remember if we moved from readthedocs or just started on gh-pages, but we now have versioned docs at https://nipreps.org/smriprep using an unmaintained Sphinx plugin called [sphinxcontrib-versioning](https://github.com/sphinx-contrib/sphinxcontrib-versioning). I see niworkflows was moved away to some custom code (https://github.com/nipreps/niworkflows/pull/656). It's unclear to me how much

[2022-05-20 14:10] effigies commented on #284
I did at least fix the current bug, but I do not want to maintain `sphinxcontrib-versioning`. It is a mess of test failures.

[2022-05-25 20:31] mgxd commented on #284
+1 to moving to RTD, though I vaguely remember trying this (or maybe it was for niworkflows) and something not working out

cc @oesteban

[2022-05-28 15:56] smeisler opened #286 "Autorecon1 Crashing"
### What happened?

Autorecon 1 appears to be failing and not providing a helpful error message.

### What command did you use?

[code]

### What version of fMRIPrep are you running?

22.0.0rc0

### How are you running fMRIPrep?

Singularity

### Is your data BIDS valid?

Yes

### Are you reusing any previously computed results?

No

### Please copy and paste any relevant log output.

[code]

###

[2022-06-02 15:13] mgxd commented on #286
is there any information in the log file produced by freesurfer? (found in `<subjects-dir>/<subject>/scripts/recon-all.log`)

[2022-06-02 15:21] mafortin commented on #286
Weirdly it seems to be a log file from another calculation/person/run... I'm not sure to understand so here is mine:
"""
Tue Apr 28 01:24:00 EDT 2009
/autofs/space/minerva_001/users/nicks/dev/distribution/average/fsaverage
/space/minerva/1/users/nicks/freesurfer/bin/recon-all
-s fsaverage -cortparc
subjid fsaverage
setenv SUBJECTS_DIR /autofs/space/minerva_001/users/nicks/dev/distribution/average

[2022-06-02 15:21] smeisler commented on #286
At least on my end (using fMRIPrep), a `<FSsubjects-dir>/<subject>` directory was not even created. The `fsaverage` directory is there.

[2022-06-02 15:23] mafortin commented on #286
Yeah me too in fact, this file is inside fsaverage/scripts folder.

And just to be clear, I said it looks like a run from "someone else" because the linux setup, SUBJECTS_DIR, FREESURFER_HOME, memory available, etc. are not mine... which confuses me a lot.

[2022-06-02 15:28] effigies commented on #286
Could this be a `--cleanenv` issue, with external `FREESURFER_HOME` overriding our settings?

[2022-06-02 15:33] mafortin commented on #286
--cleanenv is not a recognized argument for smriprep-docker

[2022-06-02 15:49] mafortin commented on #286
Yes, sorry for the mistake. I am using Docker so I don't have this option. :)

[2022-06-02 19:52] marlie-tandoc commented on #286
Same on my end too that the directory was not created.

[2022-06-03 08:42] oesteban commented on #284
I like to self-archive the documentation and hence typically prefer to stay away from RTD. But I don't have very strong feelings, and concede that, it's better to have a functional documentation on RTD than broken documentation self-archived.

That all said,
- the sphinxcontrib-versioning package is useful to create the archive if you haven't been keeping all versions. I don't remember where we ar

[2022-06-03 14:29] mgxd commented on #286
Ok, looking at the log a little closer, autorecon1 instantly fails:
[code]

Perhaps the best way to debug this would be to:
---
1) Shell into the container (either with the `--shell` option on the docker wrapper, or `singularity shell`), being sure to include all the original mounts
2) Running the command located in the file (hopefully it exists)
[code]

[2022-06-06 15:11] effigies commented on #286
Hi all, just checking in, has anybody been able to follow @mgxd's instructions and get some more information here?

[2022-06-06 22:31] smeisler commented on #286
I have not (my scratch directory was in temporary storage that got wiped) but I will work on replicating this.

[2022-06-07 11:40] mafortin commented on #286
I haven't tested it yet. How would I implement this for smriprep-docker?

[2022-06-07 11:58] mgxd commented on #286
If you keep all the options you previously used, and add in `--shell`, you should then be dropped in to an interactive session on the terminal. If the working directory is the same, you can run the following command, making sure to replace `<subjectid>` with your subject.

[code]

[2022-06-07 12:02] mafortin commented on #286
Ok thank you @mgxd ! :) I'm currently on a work trip, so I'll test it out ASAP next week when I'll comeback.

[2022-06-07 15:31] effigies commented on #286
You can add `--entrypoint=bash` to the docker arguments and remove all fMRIPrep arguments.

[2022-06-08 09:39] mafortin commented on #153
@dangom any updates about that? I've randomly ended up on that issue and was wondering about the "flexibility" of the sMRIPrep pipeline in general (I'm a new sMRIPrep user).

[2022-06-08 16:59] dangom commented on #153
For end users, flexible as a diamond by design. The goal is to be robust, not malleable.
I moved away from sMRIPrep because I wanted to switch to FS 7, and at that time sMRIPrep still relied on FS 6. I haven't checked whether that's changed already - if so maybe it's time to give it a try again.
With that said, there is no problem at all in just running the SPM bias field correction before sMRIPre

[2022-06-10 23:54] smeisler commented on #286
Hello,

I ran the command in `<workdir>/fmriprep_22_0_wf/single_subject_<subject>_wf/anat_preproc_wf/surface_recon_wf/autorecon1/command.txt`:

[code]

[2022-06-11 00:33] smeisler commented on #286
I mounted my local version of `fsr-checkxopts` (from FS6) to the container and it appears to be progressing.

[2022-06-11 03:00] effigies commented on #286
Good find. That should be easy to fix in the next release.

[2022-06-13 07:08] mafortin commented on #286
Hi! sorry for being late, but the issue should be fixed now based on what I read here? However, being a newbie with sMRIPrep, what should I do to use the "debugged" version? Re-pull the Docker Image? Thanks in advance! :)

[2022-06-13 12:40] effigies commented on #286
@mafortin I've just tagged sMRIPrep 0.9.1 and fMRIPrep 22.0.0rc1. When those images hit DockerHub, you should be good to go.

[2022-06-15 09:16] mafortin commented on #286
FYI: smriprep-docker 0.9.1 ran for one of the two subjects but crashed with the same error code as before for the 2nd subject.

[2022-06-21 21:17] ericfeczko opened #288 "adding surface based morphometry outputs (cortical thickness, sulcal depth, folding curvature) to CIFTI-output"
**Is your feature request related to a problem? Please describe.**
Much of the neuroimaging community from infant neuroimaging to adults wants to measure surface based morphometrics and use cortical thickness/folding curvature/sulcal depth. However, the CIFTI options do not allow for the output of these metrics into derivatives.

**Describe the solution you'd like**
I would like cortical thickness

[2022-06-24 21:04] ericfeczko opened #289 "Surface misalignment with non-conformed freesurfer data limits the application of mri_robust_register to oblique native inputs"
**Describe the bug**
Bug report is extended from nibabies here https://github.com/nipreps/nibabies/issues/225

I need to make a pull request on smriprep, since this is where its more appropriate.

**Exact command line executed**
Refer to the above report, which is based off of https://github.com/nipreps/nibabies/issues/222

**Are you positive that the input dataset is BIDS-compliant?**
- [X] I hav

[2022-06-26 02:45] smeisler commented on #286
This may be because, in a similar fashion, `getfullpath` is not in the docker container, but may be called by FreeSurfer.

[2022-06-27 13:21] mgxd commented on #286
Thank you @smeisler for tracking that down!

[2022-07-11 23:05] Lestropie opened #297 "FreeSurfer execution when both T2w and FLAIR present"

[2022-07-18 04:26] Mahdieh-dst opened #294 "midthickness node Crashing"
**Describe the bug**
SMRIprep crashed at:
smriprep_wf.single_subject_DEFAULT_wf.anat_preproc_wf.surface_recon_wf.gifti_surface_wf.midthickness node.

**What version of SMRIPrep are you running?**
0.9.1

**Exact command line executed**
command_midthickness0:
[code]
command_midthickness1:
[code]
**Are you positive that the input dataset is BIDS-compliant?**
Yes

***sMRIPrep* feedback information**
P

[2022-07-18 19:48] effigies commented on #294
Exit code 134 is likely a memory error. Does re-running resolve the issue? And how much memory do you have available?

[2022-07-19 13:26] Mahdieh-dst commented on #294
My laptop memory is 16GB. I increased memory resources allocated to Docker to 10GB and re-ran smriprep. However, it failed  again at the same node (midthickness node)!

[2022-07-20 08:00] Mahdieh-dst commented on #294
Thanks for your response!
I get this:
reading pial surface from /work-local/pipeline-cache/ShellCommandTask_ebe201396c7e952eaebfc597f6ca8d893314ecd4bebc83688d7e5fc7007bbf56/work/smriprep_wf/single_subject_DEFAULT_wf/anat_preproc_wf/surface_recon_wf/gifti_surface_wf/midthickness/mapflow/_midthickness0/lh.pial
using distance as a % of thickness
using thickness file /work-local/pipeline-cache/ShellCo

[2022-07-20 13:08] effigies commented on #294
Ah, that's a different problem. I think this is a limit on path lengths in FreeSurfer, and you're hitting it because of how deep your working directory is. If you're unable to mount your working directory to `/work` or similar, I would just run this manually outside of sMRIPrep for now:

[code]

[2022-07-21 12:53] #289 closed

[2022-07-21 13:59] effigies commented on #297
These seem relevant:

* https://www.mail-archive.com/freesurfer@nmr.mgh.harvard.edu/msg48371.html

reconstruction, it is better to use a T2-SPACE-FLAIR than a T2-SPACE.  Whenever
possible, we acquire a bandwidth matched T2-SPACE-FLAIR at approximately the
same resolution as our T1 and use this with our Freesurfer reconstructions.

* https://www.mail-archive.com/freesurfer@nmr.mgh.harvard.edu/msg37

[2022-07-22 03:36] Mahdieh-dst commented on #294
OK, I modified the working directory path, so I did not get the buffer overflow error anymore! However, I am getting a new error now:

reading pial surface from /wl/pydra/ShellCommandTask_ebe201396c7e952eaebfc597f6ca8d893314ecd4bebc83688d7e5fc7007bbf56/work/smriprep_wf/single_subject_DEFAULT_wf/anat_preproc_wf/surface_recon_wf/gifti_surface_wf/midthickness/mapflow/_midthickness0/lh.pial
using dist

[2022-07-26 01:33] precity opened #314 "the volume and surface in T1w sapce didn't align precisely"
### What happened?

Dear developers:

I've finished the preprocessing in fmrirep, and then I want to label a ROI in surface according to volume.
When I load the volume and surface file in BrainVisa/Anatomist,  the volume and surface didn't align very well. Just as the follow picture:
![image](https://user-images.githubusercontent.com/59133842/180775859-876f1262-d09f-4753-9062-d11d77ef3ff2.png)

an

[2022-07-27 15:16] effigies commented on #294
Apologies, I missed this update.

Do you have FreeSurfer 7 installed outside this container? If so, it would be useful to verify that you also cannot run the`mris_expand` command in your outside environment. That will distinguish between a failure of FreeSurfer to handle the file (for some reason) and a failure on our part to include some critical component of FreeSurfer.

[2022-07-27 15:20] effigies commented on #286
If there is anybody still on this thread that has either not tested with the latest release (0.9.2) or is still experiencing this error, please let us know ASAP.

[2022-07-28 08:37] mafortin commented on #286
Hasn't tested.

[2022-08-08 03:19] Mahdieh-dst commented on #294
Thanks for your comments.  I installed FreeSurfer 7 (7.2.0 ) outside the container. **mris_expand**  could run successfully on the local machine! I am not sure why it fails when inside the container!

[2022-08-22 00:26] marlie-tandoc commented on #286
I'm now experiencing this error with fMRIPrep 22.0.0rc4 using singularity on a remote HPC cluster (Interestingly I do not get an error if I run it locally and not as a job on the cluster. I wonder if its related to the fact that the job nodes on the cluster I'm using do not have access to internet, but I do not understand how that is related to the Autorecon1 error reported in this thread).

I run

[2022-08-22 00:38] smeisler commented on #286
@marlie-tandoc Can you try this (screenshotted from earlier comment)?
<img width="824" alt="image" src="https://user-images.githubusercontent.com/27028726/185818518-d05270fd-da53-4ed3-85de-16ae473c6731.png">

[2022-08-22 13:59] marlie-tandoc commented on #286
@marlie-tandoc

Thanks for the fast response! I'm quite new to all of this..

Because I'm running fmriprep with singularity on a remote HPC as a batch job (non-interactive) I'm having trouble figuring out how/if I can shell into the container.

If I run my script as an interactive job (or just locally) I could shell in. But I weirdly cannot replicate the autorecon1 error when I run fmriprep as an

[2022-08-22 14:22] smeisler commented on #286
1) `singularity shell --cleanenv --home $HOME --bind ${workdir}:/workdir /project/schapiro_group/marlie/petals/images/fmriprep_22.0.0rc4.sif`

2) `bash /workdir/work/fmriprep_22_0_wf/single_subject_002_wf/anat_preproc_wf/surface_recon_wf/autorecon1/command.txt`

[2022-08-26 12:41] oesteban opened #299 "Integrate SynthStrip?"
Considering the incredible success with MRIQC (@ahoopes SynthStrip is amazing), I think we could consider the integration of SynthStrip here.

[2022-08-30 19:39] marlie-tandoc commented on #286
To update, I was unable to shell into the container still through the method above because I was using a non-interactive job script on a remote HPC. It ended up resolving itself after I created scratch directories on the HPC.

[2022-09-15 14:13] #184 closed

[2022-09-21 21:48] seaguldee commented on #286
Hi - have been scouring the internet to try to understand why my fmriprep is failing at autocon when running through singularity on a supercomputer.

### What happened?

Autorecon 1 appears to be failing and not providing a helpful error message.

### My code running on a Super Computer

singularity run --cleanenv /work/06953/jes6785/Containers/fmriprep_latest.sif /scratch/06953/jes6785/Pre_Proces

[2022-09-21 21:53] smeisler commented on #286
@seaguldee Did you run the troubleshooting steps outlined two comments above?

[2022-09-21 22:02] mgxd commented on #286
@seaguldee are you using 22.0.1? This seems like a problem in 22.0.0 where using a previously computed freesurfer directory failed because of an outdated `fsaverage`.

[2022-09-22 00:41] BrynGibson commented on #286
Hi there, I appear to be having the same issue here but with fmriprep 22.0.1. Please let me know if I'm posting this in the wrong place so I can create another thread instead of hijacking this one.

## What happened?
Autorecon 1 appears to be failing and not providing a helpful error message.

## What command did you use?

[code]

## What version of fMRIPrep are you running?
22.0.1

## How are you

[2022-09-22 00:52] smeisler commented on #286
@BrynGibson do you have full FS outputs in `/hcs/Nesi/Bryn/NKI-singularity/fmriprep_out_v3/sourcedata/freesurfer/sub-xxxxx/`? The error indicates there are not. Are you using previously made FS outputs (and if so which version)? Have you tried rerunning without previous outputs and a clean working directory?

[2022-09-22 02:37] BrynGibson commented on #286
I just ran again making sure to use a clean working directory and clean output directory. Ran into the same error again but this time with both, Node Name: _autorecon_surfs0 and Node Name: _autorecon_surfs1.

The file tree of  `/hcs/Nesi/Bryn/NKI-singularity/fmriprep_out_v4/sourcedata/freesurfer/sub-xxxxx/`

Can be see here

[code]

[2022-09-22 02:53] smeisler commented on #286
@BrynGibson To be clear, when you say "clean output directory", are you referring to the FreeSurfer directory (in `sourcedata`) or the fmriprep output directory (I don't know your full command, but presumably in the BIDS `derivatives` folder)? That is, did you have fmriprep remake the FreeSurfer outputs?

[2022-09-22 03:03] BrynGibson commented on #286
@smeisler by "clean output directory", I mean I provide an empty directory as the output argument when singularity run is called.
The following command is what was used. The out_path argument is a empty directory.
[code]

[2022-09-22 03:39] smeisler commented on #286
@BrynGibson can you see if it works when you have a clean working directory AND have fmriprep rerun Freesurfer for you? You can simply rename the subject’s Freesurfer folder in sourcedata so fmriprep won’t find it by default (e.g OLD_sub-xxxx) .

[2022-09-30 12:25] effigies opened #300 "Fit/apply breakdown"
Ran sMRIPrep on one subject, checking off the proposed things to include in the minimal outputs:

- [ ] sub-02_desc-aparcaseg_dseg.nii.gz
- [ ] sub-02_desc-aseg_dseg.nii.gz
- [x] sub-02_desc-brain_mask.json
- [x] sub-02_desc-brain_mask.nii.gz
- [x] sub-02_desc-preproc_T1w.json
- [x] sub-02_desc-preproc_T1w.nii.gz
- [x] sub-02_dseg.nii.gz
- [x] sub-02_from-fsnative_to-T1w_mode-image_xfm.txt
- [x] s

[2022-10-04 02:37] BrynGibson commented on #286
Just following up to this, I updated to 22.0.2 and ran again. This time received an informative error message relating to failure to create symlinks in the output directory. Changed output directory to a local drive instead of a network drive (which didn't support symlinks) and fmriprep ran successfully.

[2022-10-18 14:03] bpinsard opened #306 "Improve documentation on longitudinal option."
**Please describe how the documentation should be improved.**
I recently ran smriprep with the longitudinal option, and I thought it would run freesurfer longitudinal full pipeline until I got the results.
Now I understand that it's only in the robust template creation that it makes a difference.
I think it would be great to expand a bit the documentation on that option to mention what it changes

[2022-10-19 16:44] effigies opened #307 "autorecon3 always rerun"
**Describe the bug**
Debugging a dataset, autorecon3 is consistently rerun. We are probably checking for an expected output that's not there.

[code]

[2022-10-19 18:31] mgxd commented on #307
May be worth checking all of the `_alway_run` recon interfaces too.

https://github.com/nipreps/smriprep/blob/791d31328af33d8342627d0419f10dda25b8b842/smriprep/workflows/surfaces.py#L225

https://github.com/nipreps/smriprep/blob/791d31328af33d8342627d0419f10dda25b8b842/smriprep/workflows/surfaces.py#L386

https://github.com/nipreps/smriprep/blob/791d31328af33d8342627d0419f10dda25b8b842/smriprep/wo

[2022-10-20 13:16] effigies commented on #306
Maybe we should link to https://fmriprep.org/en/stable/workflows.html#longitudinal-processing in the CLI outputs? I'm not sure what else to say.

And #21 is a long-standing issue. If someone with experience working with longitudinal FreeSurfer data is willing to contribute the necessary patches, then we can support it. I don't know enough to know what that would look like.

[2022-11-25 15:01] marcelzwiers commented on #286
Mhhh, interesting, I see in your output that dcm2niix says:
[code]
But e.g. `9.84` is not present in your dicom dump...

[2022-11-25 15:13] effigies commented on #286
Thanks! Hopefully this is resolved now, but in any case it's getting long enough that we should address further problems in new issues.

[2022-11-25 15:13] #286 closed